{% extends "layout.html" %}
{% set serviceName = "Find apprenticeship training" %}

{% set _selectedProvider = {} %}
{% for _provider in myData["providers-new"].list %}
    {% if myData.provider == _provider.id %}
        {% set _selectedProvider = _provider %}
    {% endif %}
{% endfor %}

{% set _providerTitle = _selectedProvider.name %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/breadcrumb.html" %}
{% endblock %}

{% block content %}

<style>
    .fat-panel {
        /* border: 1px solid #b1b4b6;
        padding: 20px; */
        margin-bottom: 30px;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- {% for name, item in _selectedProvider %}
        <p class="govuk-body" ><span class="govuk-!-font-weight-bold">{{ name }}</span>: {{ item | dump }}</p>
        {% endfor %} -->

        <span class="govuk-caption-xl">Training provider</span>
        <h1 class="govuk-heading-xl" >
            {{_providerTitle | safe}}
        </h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Ofsted rating</dt>
                <dd class="govuk-summary-list__value">
                    {% if _selectedProvider.ofsted == 0 %}
                    <strong class="govuk-tag govuk-tag--grey">Not yet rated</strong>
                    {% elif _selectedProvider.ofsted == 1 %}
                    <strong class="govuk-tag govuk-tag--turquoise">Outstanding</strong>
                    {% elif _selectedProvider.ofsted == 2 %}
                    <strong class="govuk-tag govuk-tag--green">Good</strong>
                    {% elif _selectedProvider.ofsted == 3 %}
                    <strong class="govuk-tag govuk-tag--yellow">Requires Improvement</strong>
                    {% elif _selectedProvider.ofsted == 4 %}
                    <strong class="govuk-tag govuk-tag--red">Inadequate</strong>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Coverage</dt>
                <dd class="govuk-summary-list__value">{% if _selectedProvider.national == true %}National{% else %}Specific locations{% endif %}</dd>
            </div>
            <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">About</dt>
                <dd class="govuk-summary-list__value">
                    <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                            About {{_providerTitle | safe}}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">{{_providerTitle | safe}} is a specialist private training company which has been delivering apprenticeships for 20 years. From our Midlands base, we work nationally to support private, public and third sector organisations - large and small - to develop their apprentices and achieve the best possible outcomes and value for both apprentice and employer.</p>
                            <p class="govuk-body">We specialise in:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Learning and Development</li>
                                <li>Human Resources</li>
                                <li>Butchery & Food</li>
                                <li>Aviation</li>
                            </ul>
                            <p class="govuk-body">Our programmes are designed to fit the needs of employer and apprentice and are delivered in the workplace and/or at our specialist facilities. To make the apprenticeship special we pride ourselves on giving unique opportunities such as educational visits and outdoor residentials.</p>
                        </div>
                    </details>
                </dd>
            </div> -->
        <!-- </dl>

        <h2 class="govuk-heading-m">Contact details</h2>
        <dl class="govuk-summary-list"> -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value"><a class="govuk-link govuk-link--no-visited-state" href="#">contact@{{_providerTitle|lower|replace(" ", "")|replace(".", "")}}.co.uk</a></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Telephone</dt>
                <dd class="govuk-summary-list__value">078&nbsp;7856&nbsp;9856</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">URL</dt>
                <dd class="govuk-summary-list__value"><a class="govuk-link govuk-link--no-visited-state" href="#">www.{{_providerTitle|lower|replace(" ", "")|replace(".", "")}}.co.uk</a></dd>
            </div>
        </dl>



        <h2 class="govuk-heading-l govuk-!-margin-top-8">Apprenticeship training courses</h2>


        <br><br><br><br><br><br>

        <!-- <h2 class="govuk-heading-m">Provider</h2> -->
        <ol class="govuk-list govuk-list--number" style="color:red">
            <li style="text-decoration: line-through">Provider name</li>
            <!-- <li>Trading name (if exist)</li> -->
            <!-- <li>UKPRN</li> -->
            <li style="text-decoration: line-through">Ofsted rating</li>
            <li style="text-decoration: line-through">National / Not national</li>
            <li style="text-decoration: line-through">Contact details (what are these/where are these)</li>
            <li style="text-decoration: line-through">About provider (free text)</li>
            <li>Employer reviews data</li>
            <li>Courses offered (list)</li>
            <li style="list-style: none;">
                <h2 class="govuk-heading-m govuk-!-margin-top-6">per each Course</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>Achievement rate (based on SSA tier 2)</li>
                    <li>About apprenticeship (free text)</li>
                    <li>Contact details (website / email / phone / contact us webpage)</li>
                    <!-- <li style="list-style: none;">
                        <h2 class="govuk-heading-m govuk-!-margin-top-6">per each Location</h2>
                        <ol class="govuk-list govuk-list--number">
                            <li>Delivery modes</li>
                            <li>venue name</li>
                            <li>venue address</li>
                            <li>venue contact details (phone, email, website)</li>
                            <li>Distance from employer (if employer location known)</li>
                        </ol>
                    </li> -->
                </ol>
            </li>
        </ol>

        <!-- <div class="govuk-inset-text">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">contact@{{_providerTitle|lower|replace(" ", "")|replace(".", "")}}.co.uk</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h3>
            <p class="govuk-body">078&nbsp;7856&nbsp;9856</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">URL</h3>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">www.{{_providerTitle|lower|replace(" ", "")|replace(".", "")}}.co.uk</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Address</h3>
            <p class="govuk-body">
                {{_selectedProvider.address.line1}}<br>
                {{_selectedProvider.address.city}}<br>
                {{_selectedProvider.address.postcode}}
            </p>
        </div> -->

        
        <!-- <ul class="govuk-list govuk-list--bullet" style="color: red">
            <li>minimum number of apprenticeships</li>
        </ul><hr> -->

    </div>
    <div class="govuk-grid-column-one-third">
       &nbsp;
    </div>
</div>

{% endblock %}