{% extends myData.layout %}

{% set serviceName = "Find apprenticeship training for your apprentice" %}

{% set _inError = myData.validationError %}

{% set _selectedStandard = myData.selectedStandard %}
{% set _standardTitle = _selectedStandard.title + " (level&nbsp;" + _selectedStandard.level + ")" %}

{% block pageTitle %}
{% if _inError == "true" %}Error: {% endif %}
Enter the apprenticeship training and contact details
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
	{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		{% if _inError == "true" %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% for name, item in myData.validationErrors %}
					<li>
						<a href="#{{item.anchor}}">{{item.message}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

        <h1 class="govuk-heading-xl" >
            Enter the apprenticeship training and contact details
		</h1>

        <form method="post">

			<!-- Training details -->
			<fieldset class="govuk-fieldset" >

				<h2 class="govuk-heading-l">Apprenticeship training details</h2>
				<p class="govuk-body">We will share the apprenticeship training details with training providers.</p>

				<div class="fat-panel fat-panel-blocked govuk-!-margin-bottom-5">
					<p class="govuk-body govuk-!-margin-bottom-5">
						Apprenticeship training course <br>
						<span class="govuk-!-font-weight-bold">{{_standardTitle|safe}}</span>
					</p>
					<p class="govuk-body govuk-!-margin-bottom-5">
						Apprenticeship location <br>
						<span class="govuk-!-font-weight-bold">{{myData.location}}</span>
					</p>
				</div>

				<!-- Apprentices -->
				<div class="govuk-form-group {% if myData.validationErrors.apprenticesAnswer or myData.validationErrors.apprenticesCountAnswer %}govuk-form-group--error{% endif %}">
					<fieldset class="govuk-fieldset" >
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							<h1 class="govuk-fieldset__heading">
							Do you know how many apprentices will take this apprenticeship training?
							</h1>
						</legend>
						{% if myData.validationErrors.apprenticesAnswer %}
						<span id="apprenticesAnswer-error" class="govuk-error-message">
							<span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.apprenticesAnswer.message}}
						</span>
						{% endif %}
						<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="apprenticesAnswer-1" name="apprenticesAnswer" type="radio" value="yes" data-aria-controls="conditional-apprenticesAnswer" {% if myData.apprenticesAnswerTemp == "yes" %}checked{% endif %} >
								<label class="govuk-label govuk-radios__label" for="apprenticesAnswer-1">
								Yes
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-apprenticesAnswer">
								<div class="govuk-form-group">
								<label class="govuk-label" for="apprenticesCountAnswer">
									Enter the number of apprentices
								</label>
								{% if myData.validationErrors.apprenticesCountAnswer %}
								<span id="apprenticesCountAnswer-error" class="govuk-error-message">
									<span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.apprenticesCountAnswer.message}}
								</span>
								{% endif %}
								<input class="govuk-input govuk-input--width-3" id="apprenticesCountAnswer" name="apprenticesCountAnswer" type="number" spellcheck="false" pattern="[0-9]*" inputmode="numeric"></div>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="apprenticesAnswer-2" name="apprenticesAnswer" type="radio" value="no" {% if myData.apprenticesAnswerTemp == "no" %}checked{% endif %} >
								<label class="govuk-label govuk-radios__label" for="apprenticesAnswer-2">
								No
								</label>
							</div>
						</div>
					</fieldset>
				</div>
			</fieldset>


			<!-- Contact details -->
			<fieldset class="govuk-fieldset" >

				<h2 class="govuk-heading-l">Contact details</h2>
				<p class="govuk-body">We will not share any contact details with training providers directly.</p>

				<!-- Org name -->
				<div class="govuk-form-group {% if myData.validationErrors.orgNameAnswer %}govuk-form-group--error{% endif %}">
					<label class="govuk-label govuk-label--m" for="orgNameAnswer">
						What is the organisation’s name?
					</label>
					{% if myData.validationErrors.orgNameAnswer %}
					<span id="orgNameAnswer-error" class="govuk-error-message">
						<span class="govuk-visually-hidden">Error:</span>
						{{myData.validationErrors.orgNameAnswer.message}}
					</span>
					{% endif %}
					<input class="govuk-input" id="orgNameAnswer" name="orgNameAnswer" type="text">
				</div>

				<!-- Email address -->
				<div class="govuk-form-group {% if myData.validationErrors.emailAnswer %}govuk-form-group--error{% endif %}">
					<label class="govuk-label govuk-label--m" for="emailAnswer">
						What email address should we contact?
					</label>
					<div id="emailAnswer-hint" class="govuk-hint">
						We will only use this to send the details of any training providers who can offer the apprenticeship training.
					</div>
					{% if myData.validationErrors.emailAnswer %}
					<span id="emailAnswer-error" class="govuk-error-message">
						<span class="govuk-visually-hidden">Error:</span>
						{{myData.validationErrors.emailAnswer.message}}
					</span>
					{% endif %}
					<input class="govuk-input" id="emailAnswer" name="emailAnswer" type="email" aria-describedby="emailAnswer-hint" autocomplete="email">
				</div>

				<button type="submit" class="govuk-button">
					Continue
				</button>

		</form>

    </div>

    <div class="govuk-grid-column-one-third">
        &nbsp;
    </div>

</div>

{% endblock %}
