
<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
	What to do if you cannot find a training provider
</h3>

<p class="govuk-body">
	You can <a href="aed-employer-form?standard={{myData.standard}}&location={% if myData.locationapplied == true %}{{myData.location}}{% endif %}">give us your contact details</a> and we’ll let training providers know that you’re interested in this course.
</p>

<p class="govuk-body govuk-!-margin-bottom-6">
	We’ll send you the details of any training providers who can offer you training, so you can contact them directly.
</p>