
{% extends "layout-as-pro.html" %}

{% set serviceName = "Apprenticeships" %}

{% block pageTitle %}

{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <div class="govuk-grid-row">
		<div class="govuk-grid-column-three-quarters">
			<div class="govuk-breadcrumbs ">
				<ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="aed-provider-home">Home</a>
                    </li>
                </ol>
			</div>
        </div>
    </div>
{% endblock %}

<!-- Location search -->
{% set _citiesAutocompleteList = myData.citiesAutocompleteList %}
{% set _defaultLocationSearchvalue = "" %}
{% if myData.locationapplied == true %}
    {% set _defaultLocationSearchvalue = myData.location %}
{% endif %}

<!-- Training search -->
{% set _standardAutocompleteList = myData.standardAutocompleteList %}
{% set _defaultStandardSearchvalue = "" %}
{% if myData.standardsearchapplied == true %}
    {% set _defaultStandardSearchvalue = myData.standardSearchTerm %}
{% endif %}

<!-- Query strings (for use in hrefs) -->
{% set _locationQuery = "" %}
{% set _standardQuery = "" %}
{% set _routefilterQuery = "" %}
{% if myData.locationapplied == true %}
    {% set _locationQuery = "&location=" + myData.location %}
{% endif %}
{% if myData.standardsearchapplied == true %}
    {% set _standardQuery = "&standard=" + myData.standardSearchTerm %}
{% endif %}
{% if myData.routefilterapplied == true %}
    {% for _item in myData.routefilters %}
        {% set _routefilterQuery = _routefilterQuery + "&routefilters=" + _item %}
    {% endfor %}
{% endif %}

{% set _fullURL = "aed-provider-demand?" + _locationQuery + _standardQuery + _routefilterQuery %}

<!-- Filters -->
{% set _filtersApplied = myData.locationapplied or myData.standardsearchapplied or myData.routefilterapplied %}

{% block content %}

<div class="govuk-grid-row">


        <h1 class="govuk-heading-xl" >
            Find employers that need a training provider
        </h1>
        <p class="govuk-body">Employers are trying to find a training provider for the following apprenticeship training courses.</p>
        <p class="govuk-body">We can share your contact details with employers that you’re interested in.</p>
        <p class="govuk-body govuk-!-margin-bottom-8">You can <a href="provider-dashboard">view the employer requests<a/> that you have showed interest in.</p>

</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <!-- FILTERS  -->
        <div class="fat-filter" >

            <div class="fat-filter__header">
                <div class="fat-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="fat-filter__header-action">
                </div>
            </div>
            <div class="fat-filter__content">

                {% if _filtersApplied %}
                <div class="fat-filter__selected">
                    <div class="fat-filter__selected-heading">
                        <div class="fat-filter__heading-title">
                            <h2 class="govuk-heading-m">Selected filters</h2>
                        </div>
                        <div class="fat-filter__heading-action">
                            <p><a class="govuk-link govuk-link--no-visited-state" href="aed-provider-demand?&location">Clear</a></p>
                        </div>
                    </div>


                    <!-- For each filter type -->
                    {% for _filter in myData.searchfilters %}
                        {% set _url = "aed-provider-demand?" + _locationQuery + _standardQuery + _routefilterQuery %}
                        {% if _filter.type == "standard" %}
                            {% set _url = "aed-provider-demand?" + _locationQuery %}
                        {% elif _filter.type == "location" %}
                            {% set _url = "aed-provider-demand?" + "&location" + _standardQuery + _routefilterQuery %}
                        {% endif %}

                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{_filter.typeText}}</h3>
                        <ul class="fat-filter-tags">
                            {% if _filter.typeof == "array" %}
                                {% for _item in _filter.value %}
                                    {% set _urlBit = "&" + _filter.type + "=" + _item.id %}
                                    {% set _url2 = _fullURL|replace(_urlBit,"") %}
                                    <li><a class="fat-filter__tag" href="{{_url2}}"><span class="govuk-visually-hidden">Clear this filter</span>{{_item.label}}</a></li>
                                {% endfor %}
                            {% else %}
                            <li><a class="fat-filter__tag" href="{{_url}}"><span class="govuk-visually-hidden">Clear this filter</span> {{_filter.value|safe}}</a></li>
                            {% endif %}
                        </ul>
                    {% endfor %}

                </div>
                {% endif %}

                <div class="fat-filter__options">

                    <form method="GET" autocomplete="dont" >

                        <input autocomplete="dont" name="hidden" type="text" style="display:none;">

                        <button type="submit" class="fat-filter__submit govuk-button" id="filters-submit">Apply filters</button>

                        <!-- Location -->
                        <div class="govuk-form-group govuk-!-margin-bottom-3" >
                            <label for="search-location" class="govuk-label" >
                                <span class="govuk-!-font-weight-bold govuk-!-font-size-24">Location</span>
                                <span class="govuk-hint">Enter a town, city or postcode</span>
                            </label>
                            <input type="search" value="{% if myData.locationapplied == true %}{{myData.location}}{% endif %}" id="search-location" name="location" class="govuk-input" autocomplete="dont"  >
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="radius">
                                Radius
                            </label>
                            <select class="govuk-select" id="radius" name="radius">
                                <option value="5" {% if myData.radius == "5" %}selected{% endif %}>5 miles</option>
                                <option value="10" {% if myData.radius == "10" %}selected{% endif %}>10 miles</option>
                                <option value="25" {% if myData.radius == "25" %}selected{% endif %}>25 miles</option>
                                <option value="50" {% if myData.radius == "50" %}selected{% endif %}>50 miles</option>
                                <option value="80" {% if myData.radius == "80" %}selected{% endif %}>80 miles</option>
                                <option value="england" {% if myData.radius == "england" %}selected{% endif %}>England</option>
                            </select>
                        </div>

                        <!-- Course -->
                        <div class="govuk-form-group" >
                            <label for="search-training" class="govuk-label" >
                                <span class="govuk-!-font-weight-bold govuk-!-font-size-24">Apprenticeship training course</span>
                            </label>
                            <input type="search" value="{% if myData.standardsearchapplied == true %}{{myData.standardSearchTerm}}{% endif %}" id="search-training" name="standard" class="govuk-input">
                        </div>

                        {% set _routes = myData.routes.list %}
                        {% if myData.standardsearchapplied != true %}
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Apprenticeship category
                                </legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    {% for _route in _routes %}
                                        {% set _checked = "" %}
                                        {% for _item in myData.routefilters %}
                                            {% if _item == _route.code and myData.routefilterapplied == true %}
                                                {% set _checked = "checked" %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="govuk-checkboxes__item">
                                            <input {{_checked}} class="govuk-checkboxes__input" id="route-{{_route.code}}" name="routefilters" type="checkbox" value="{{_route.code}}">
                                            <label class="govuk-label govuk-checkboxes__label" for="route-{{_route.code}}">
                                                {{_route.name}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}

                        <button type="submit" class="govuk-button fat-filter__submit" id="filters-submit-2">Apply filters</button>

                    </form>

                </div>

            </div>

        </div>

    </div>
    <div class="govuk-grid-column-two-thirds">

        {% if myData.displaycount > 1 %}
        <p class="govuk-body govuk-!-margin-bottom-6">Sorted by:
            <span class="govuk-!-font-weight-bold">Course name</span>
        </p>
        {% endif %}

        <h2 class="govuk-heading-m">{{myData.displaycount}} result{% if myData.displaycount != 1 %}s{% endif %}</h2>

        {% if myData.displaycount == 0 %}

            <p class="govuk-body">No employers for the selected filters.</p>

            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="aed-provider-demand?&location">Clear filters</a></p>

        {% else %}

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

            <!--
                List
            -->

            <!-- Standards -->
            {% for _demand in myData.demands2 %}

                {% if _demand.search %}
                <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-3">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-0" >
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            {{_demand.name|safe}}
                        </h2>
                        <ul class="govuk-list">
                            <li class="govuk-!-font-size-16"><span class="govuk-secondary-colour">Apprenticeship category:</span> {{_demand.route}}</li>
                            <li class="govuk-!-font-size-16">
                              <span class="govuk-secondary-colour">Apprentices:</span>
                                {% if _demand.totalApprentices==0 %}Unknown {% else%}
                              {{_demand.totalApprentices}}
                              {% endif %}
                          </li>
                            <li class="govuk-!-font-size-16">
                                <span class="govuk-secondary-colour">Employers:</span>
                                {{_demand.totalEmployers}}
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-padding-0">
                        <p class="govuk-body opportunities-label" >
                            <a href="aed-provider-standard?standard={{_demand.larsCode}}&demand={{_demand.larsCode}}" class="govuk-link govuk-link--no-visited-state">View employers</a>
                        </p>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--visible" style="clear:both">
                </div>
                {% endif %}

            {% endfor %}

        {% endif %}

    </div>

</div>

{% endblock %}

{% block pageScripts %}
<script>

    // shortlistingSticky(30)
    // shortlisting({{myData.clearLocalStorage}},{{myData.populateShortlist}})

    filterVisibilityToggle({{_filtersApplied | dump | safe }})

    function fireApplyFilters(){setTimeout(function(){ $("#filters-submit").trigger("click") },200);}

    // Normal
    function suggestTraining(query, populateResults) {
        var results = {{_standardAutocompleteList | dump | safe }},
            filteredResults = results.filter(
            result => result.toUpperCase().indexOf(query.trim().toUpperCase()) !== -1
        )
        populateResults(filteredResults)
    }
    var trainingInput = document.querySelector('#search-training')
    if (trainingInput) {
        var trainingInputID = trainingInput.id,
            trainingElement = document.createElement('div'),
            defaultStandardSearchvalue = {{_defaultStandardSearchvalue | dump | safe }}
        trainingElement.className = "autocomplete__parent_wrapper";
        trainingInput.parentNode.insertBefore(trainingElement, trainingInput)
        accessibleAutocomplete({
            // other options
            element: trainingElement,
            id: trainingInputID,
            name: trainingInput.name,
            source: suggestTraining,
            defaultValue: defaultStandardSearchvalue,
            minLength: 2,
            confirmOnBlur: false,
            autoselect: true,
            onConfirm: fireApplyFilters,
            displayMenu: 'overlay'
            // showAllValues: true
        })
        trainingInput.style.display = 'none'
        trainingInput.id = trainingInputID + '-old'
        trainingInput.name = ''
    }

    // Locations
    function suggestLocations(query, populateResults) {
        var _allSuggestions = []

        // Cities
        var _citiesResults = {{_citiesAutocompleteList | dump | safe }},
            _filteredCitiesResults = _citiesResults.filter(
                result => result.toUpperCase().startsWith(query.trim().toUpperCase())
            )
        _filteredCitiesResults.sort(function(a,b){
            var returnValue = 0;
            if (a.toUpperCase() < b.toUpperCase()){
                returnValue = -1
            } else if(a.toUpperCase() > b.toUpperCase()){
                returnValue = 1
            }
            return returnValue
        });

        // Postcodes
        $.getJSON('https://api.postcodes.io/postcodes/' + query + '/autocomplete', function(body){
            var _postcodes = body.result || []
            _allSuggestions = _allSuggestions.concat(_filteredCitiesResults,_postcodes)
            populateResults(_allSuggestions)
        })
    }

    var locationInput = document.querySelector('#search-location')
    if (locationInput) {
        var locationInputID = locationInput.id,
            locationElement = document.createElement('div'),
            defaultLocationSearchvalue = {{_defaultLocationSearchvalue | dump | safe }}
        locationElement.className = "autocomplete__parent_wrapper";
        locationInput.parentNode.insertBefore(locationElement, locationInput)
        accessibleAutocomplete({
            // other options
            element: locationElement,
            id: locationInputID,
            name: locationInput.name,
            source: suggestLocations,
            defaultValue: defaultLocationSearchvalue,
            minLength: 1,
            confirmOnBlur: false,
            autoselect: true,
            onConfirm: fireApplyFilters,
            displayMenu: 'overlay'
        })
        locationInput.style.display = 'none'
        locationInput.id = locationInputID + '-old'
        locationInput.name = ''
    }
</script>

{% endblock pageScripts %}
