// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "components/apprenticeship-service-header";
@import "components/search";
@import "components/accessible-autocomplete";
@import "components/filter";

.govuk-secondary-colour {
    color:#6f777b
}

.hidden {
    display:none
}

//FAT grey panel
.fat-panel {
    padding: 15px 15px 1px 15px;
}
@media (min-width: 641px){
    .fat-panel {
        padding: 20px 20px 1px 20px;
    }
}
.fat-panel-small {
    padding: 15px 15px 1px 15px;
}

.fat-panel-blocked {
    background: govuk-colour("light-grey");
}
.fat-panel-bordered {
    border: 1px solid $govuk-border-colour;
}

//FAT training options
li.fat-tick,
li.fat-cross {
    display: inline;
}
.fat-tick,
.fat-cross {
    padding-left: 21px;
    margin-right: 20px;
}
.fat-tick {
    background: url(/public/images/icon-green-tick.svg) 0 0 no-repeat;
    background-size: 16px 20px;
}
.fat-cross {
    color: $govuk-secondary-text-colour;
    background: url(/public/images/icon-red-cross.svg) 0 0 no-repeat;
    background-size: 12px 20px;
    padding-left: 18px;
}
// -2 is v6 onwards
li.fat-tick-2,
li.fat-cross-2 {
    display: inline;
}
.fat-tick-2,
.fat-cross-2 {
    padding-left: 22px;
}
.fat-tick-2 {
    background: url(/public/images/icon-green-tick-2.svg) 0 0 no-repeat;
    background-size: 16px 18px;
}
.fat-cross-2 {
    background: url(/public/images/icon-red-cross-2.svg) 0 0 no-repeat;
    background-size: 12px 18px;
    // padding-left: 19px;
}
// -3 is v8 onwards
li.fat-tick-3,
li.fat-cross-3 {
    display: block;
}
.fat-tick-3,
.fat-cross-3 {
    padding-left: 30px;
}
.fat-tick-3 {
    background: url(/public/images/icon-green-tick-2.svg) 0 0 no-repeat;
    background-size: 23px 22px;
}
.fat-cross-3 {
    background: url(/public/images/icon-red-cross-2.svg) 0 0 no-repeat;
    background-size: 18px 23px;
}
//mid dot
.middot {
    display: inline; 
    margin: 0 5px;
}
//FAT availaibility
.fat-availability.fat-tick,
.fat-availability.fat-tick-2 {
    color: govuk-colour("green");
}
.fat-availability.fat-cross,
.fat-availability.fat-cross-2 {
    color: govuk-colour("red");
}
@media (min-width: 641px){
    .fat-panel .fat-availability {
        padding-left: 30px;
    }
    .fat-panel .fat-availability.fat-tick,
    .fat-panel .fat-availability.fat-tick-2 {
        background-size: 23px 22px;
    }
    .fat-panel .fat-availability.fat-cross,
    .fat-panel .fat-availability.fat-cross-2 {
        background-size: 18px 23px;
    }
}

// FAT Ratings
.outstanding-ofsted,
.excellent-employer {
    color: govuk-colour("green");
}
.good-ofsted,
.good-employer {
    color: govuk-colour("green");
}
.requires-imp-ofsted,
.poor-employer {
    color: govuk-colour("dark-grey");
}
.inadequate-ofsted,
.very-poor-employer {
    color: govuk-colour("dark-grey")
}
.star-svg {
    height: 15px;
    margin-right: 2px;
}
.star-svg-large {
    height: 22px;
    margin-right: 3px;
    margin-top: -8px;
    vertical-align: middle;
}
//Rating graph
.graph-list li {
    display: table-row;
}
.graph-list li .label, 
.graph-list li .chart, 
.graph-list li .figure {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 0;
}
.graph-list li .chart {
    width: 100%;
}
.graph-list li .chart .graph {
    // border: 1px solid govuk-colour("dark-grey");
    border: 1px solid #778084;
    margin: 3px 10px;
}
.graph-list li .chart .bar, .graph-list li .chart .graph {
    display: block;
    height: 20px;
}
.graph-list li.level-1 .bar {
    background: govuk-colour("green");
}
.graph-list li.level-2 .bar {
    background: govuk-colour("green");
}
.graph-list li.level-3 .bar {
    // background: govuk-colour("mid-grey");
    background: #778084;
}
.graph-list li.level-4 .bar {
    // background: govuk-colour("dark-grey");
    background: #778084;
}


// Das highlight box
.das-highlight-box{border-top:3px solid #dee0e2;border-bottom:3px solid #dee0e2;padding:20px 0;margin-bottom:50px;margin-left:30px;}.das-flex>.das-highlight-box:first-child{margin-left:0;}.das-flex{display:-ms-flex;display:-webkit-flex;display:flex;margin:0;}


// DAS alert
.alert-blue {
    border: 5px solid #005ea5;
    padding: 20px 15px 15px;
    // margin-top: 30px;
}
.alert-blue-no-heading {
    padding-top: 20px;
    padding-bottom: 0;
}

//Back to top
.app-back-to-top__icon {
    display: inline-block;
    width: .6em;
    height: .8em;
    margin-top: -4px;
    margin-right: 3px;
    vertical-align: middle;
}

//Shortlist
@media (min-width: 641px){
    .shortlist-label {
        text-align: right;
    }
}
.view-shortlist {
    float:right;
    margin-top: -32px;
}
@media (min-width: 641px){
    .view-shortlist {
        margin-top: -37px;
    }
}
.view-shortlist-2 {
    float:none;
    margin-top: 20px;
}
@media (min-width: 641px){
    .view-shortlist-2 {
        text-align: right;
        margin-top: 10px;
    }
}
.view-shortlist-fixed {
    position: fixed;
    top: 0px;
    margin-left: -30px;
    padding: 0 30px;
    z-index: 100;
    display: block;
    background: white;
    border: 1px solid #b1b4b6;
    border-top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.view-shortlist-fixed-2 {
    margin-left: -15px;
}
.view-shortlist-fixed-label {
    margin: 0;
    float: right;
    padding: 12px 0px;
}
.shortlist-count {
    border-radius: 50%;
    width: 21px;
    height: 20px;
    margin-left: 3px;
    padding-top: 2px;
    padding-left: 1px;
    font-size: 14px;
    display: inline-block;
    background: #1d70b8;
    color: white;
    text-align: center;
}
.back-to-top-fixed-label {
    margin: 0;
    float: left;
    padding: 12px 0px;
}
.view-shortlist--hidden {
    display: none;
}

//Provide feedback
@media (min-width: 641px){
    .factor-answer-change {
        display:none;
    }
}


// Responsive Tables - FAT Shortlist

table.responsive-shortlist {
    thead {
        display: none;
    } 
    tr {
         margin-bottom: 10px;
         display: block;
         width: 100%;
         box-sizing: border-box;
         th, td {
             display: block;
             clear:left;
             width: 100%;
             padding: 0;
             box-sizing: border-box;
             border: 0;
             &:last-child {
                border-bottom: 1px solid $govuk-border-colour;
                margin-bottom: 20px;
            }
            &:empty {
                display: none;
            }
         }
     }
}
@media (min-width: 830px){
    table.responsive-shortlist {
        thead {
            display: table-header-group;
        }
        tr {
            display: table-row;
            border:none;
            float: none;
            margin: 0;
            th, td {
                display: table-cell;
                text-align: left;
                float: none;
                clear: none;
                padding: 0.6em 1em 0.5em;
                border-bottom: 1px solid $govuk-border-colour;
                width: auto;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                &:before {
                    display: none;
                }
                &.numeric {
                    text-align: right;
                }
                &.colgroup {
                    text-align: center
                }
                &:last-child {
                    border-bottom: 1px solid $govuk-border-colour;
                }
                &:empty {
                    display: table-cell;
                }
            }
            &.total {
                border: none;
                td {
                    border-bottom: none;
                    &.total {
                        border-bottom: 2px solid #000;
                    }
                    &:last-child {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    @for $i from 1 through 14 {
        table.responsive-shortlist tr th.tw-#{$i * 5} {
            width: $i * 5%;
        }
    }

    .break-line-desktop::before {
        content: "\A";
        white-space: pre;
    }
    .visually-hidden-desktop {
        display: none;
    }

}


// Responsive Tables - ESFA

table.responsive {
    thead {
        display: none;
    }
    tr {
       // border: 1px solid $govuk-border-colour;
        margin-bottom: 10px;
        display: block;
        float: left;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid $govuk-border-colour;
        td {
            display: block;
            text-align: right;
            clear:left;
            float:left;
            width: 100%;
            padding: 10px 10px 8px;
            box-sizing: border-box;
            border-bottom: 1px dotted $govuk-border-colour;
            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                padding-right: 10px;
            }
            &:last-child {
                border-bottom: none;
            }
            &:empty {
                display: none;
            }
        }
        &.total {
            border: 2px solid #000;
        }
    }
}

@media (min-width: 641px){
    table.responsive {
        thead {
            display: table-header-group;
        }
        tr {
            display: table-row;
            border:none;
            float: none;
            margin: 0;
            th, td {
                display: table-cell;
                text-align: left;
                float: none;
                clear: none;
                padding: 0.6em 1em 0.5em;
                border-bottom-style: solid;
                width: auto;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                &:before {
                    display: none;
                }
                &.numeric {
                    text-align: right;
                }
                &.colgroup {
                    text-align: center
                }
                &:last-child {
                    border-bottom: 1px solid $govuk-border-colour;
                }
            }
            &.total {
                border: none;
                td {
                    border-bottom: none;
                    &.total {
                        border-bottom: 2px solid #000;
                    }
                    &:last-child {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    @for $i from 1 through 14 {
        table.responsive tr th.tw-#{$i * 5} {
            width: $i * 5%;
        }
    }

}


//Dashboard cards
.das-cards {
    margin: 0 -15px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap
}

@media (min-width: 40.0625em) {
    .das-cards {
        display: flex;
        display: -ms-flex
    }
}

.das-card {
    padding: 0 15px;
    margin-bottom: 15px;
    box-sizing: border-box
}

@media (min-width: 40.0625em) {
    .das-card {
        width: 50%
    }
}

.das-card__heading {
    margin-top: 0;
    margin-bottom: .5em
}

//Das provider cards
.das-card__pro {
  border-bottom: 1px solid #bfc1c3;
  margin-top: 20px;
  padding-bottom: 20px;
}



//AED table
.app-table--vertical-align-middle {
    td.govuk-table__cell {
        vertical-align: middle;
    }
}