



{% extends "layout-as-pro.html" %}

{% set serviceName = "Apprenticeships" %}

{% block pageTitle %}

{% endblock %}

{% set _selectedDemand = myData.selectedDemand %}
{% set _selectedEmployers = myData.selectedEmployers or myData.defaultSelectedEmployers %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">View contacted requests</h1>

  <form method="get" action="/10005760/apprentices">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <!--  <div class="govuk-form-group">
                  <label for="searchTerm" class="govuk-label">Search apprentice name or unique learner number (ULN)</label>
                  <div class="das-search-form__group">
                      <input class="govuk-input das-search-form__input" id="searchTerm" name="searchTerm" type="text">
                      <div class="das-search-form__button-wrap">
                          <button class="govuk-button das-search-form__button" type="submit">Search</button>
                      </div>
                  </div>
              </div>-->
          </div>
      </div>


      <form method="get" action="#">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <!--  <div class="govuk-form-group">
                        <label for="searchTerm" class="govuk-label">Search apprentice name or unique learner number (ULN)</label>
                        <div class="das-search-form__group">
                            <input class="govuk-input das-search-form__input" id="searchTerm" name="searchTerm" type="text">
                            <div class="das-search-form__button-wrap">
                                <button class="govuk-button das-search-form__button" type="submit">Search</button>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>







      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div class="das-pane govuk-!-margin-bottom-3"  style="background: #f3f2f1;">
                  <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group">
                              <label class="govuk-label" for="selectedEmployer">Standard</label>


                              <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                                  <option label="All" aria-label="All courses" value="">All</option>
                                          <option label="Abattoir worker, (Level: 2)" value="Abattoir worker, Level: 2">Abattoir worker, (Level: 2)</option>
                                          <option label="Software tester (level 4)" value="Software tester (level 4)">Software tester (level 4)</option>
                                          <option label="Advanced carpentry and joinery, Level: 3" value="Advanced carpentry and joinery, Level: 3">Advanced carpentry and joinery, Level: 3</option>
                                          <option label="	Midwife (degree) (level 6)" value="	Midwife (degree) (level 6)">	Midwife (degree) (level 6)</option>
                              </select>



                          </div>
                      </div>
                      <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group">
                              <label class="govuk-label" for="selectedCourse">Location</label>
                              <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                                  <option label="All" aria-label="All courses" value="">All</option>
                                          <option label="Coventry, West Midlands" value="Coventry">Coventry, West Midlands</option>
                                          <option label="Northampton, Northamptonshire" value="Coventry">Northampton, Northamptonshire</option>
                                          <option label="Southampton, Hampshire" value="Coventry">Southampton, Hampshire</option>

                              </select>
                          </div>
                      </div>


                      <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group">
                              <label class="govuk-label" for="selectedCourse">Status</label>
                              <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                                  <option label="All" aria-label="Status" value="">Status</option>
                                          <option label="Active" value="Coventry">Active</option>
                                          <option label="Inactive" value="Coventry">Inactive</option>


                              </select>
                          </div>
                      </div>
                  </div><div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">

                      </div>
                  </div>
                  <button class="govuk-button govuk-!-margin-0" type="submit">Apply filters</button>
              </div>
          </div>
      </div>
  </form><br />

  </div>
  <table class="govuk-table das-table--responsive das-table--double-arrows das-table--condensed">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="20%">
                <!--
                  <a class="das-table__sort" title="Sort the table by name" href="/10005760/apprentices?ReverseSort=False&amp;SortField=FirstName">
                  -->
                  <a class="das-table__sort" title="Sort the table by name" href="#">Date sent<br /> to employer
                  </a>
              </th>
              <th scope="col" class="govuk-table__header">
                  <a class="das-table__sort" title="Sort the table by name" href="/#">
                      Standard
                  </a>
              </th>
              <th scope="col" class="govuk-table__header">
                  <a class="das-table__sort" title="Sort the table by name" href="#">
                      Apprentices
                  </a>
              </th>
              <th scope="col" class="govuk-table__header">
                  <a class="das-table__sort" title="Sort the table by name" href="#">
                      Location
                  </a>
              </th>
              <th scope="col" class="govuk-table__header" width="17%">
                  <a class="das-table__sort" title="Sort the table by name" href="#">
                      Status of<br /> employer request
                  </a>
              </th>



          </tr>
      </thead>
      <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Planned start date">
                        3 June 2021
                    </td>
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Abattoir worker (level 2)
                  </td>
                  <td class="govuk-table__cell" data-label="ULN" style="text-align:right;">
                      4
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Coventry
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      <strong class="govuk-tag govuk-tag--green">Active</strong><br>
                  </td>
              </tr>


              <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Planned start date">
                        2 June 2021
                    </td>
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Software tester (level 4)
                  </td>
                  <td class="govuk-table__cell" data-label="ULN" style="text-align:right;">
                      3
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Coventry
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      <strong class="govuk-tag govuk-tag--red">Inactive</strong><br>
                  </td>
              </tr>



              <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Planned start date">
                        1 June 2021
                    </td>
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Advanced carpentry and joinery, Level: 3 (Standard)
                  </td>
                  <td class="govuk-table__cell" data-label="ULN" style="text-align:right;">
                      2
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Northampton, Northamptonshire
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                        <strong class="govuk-tag govuk-tag--green">Active</strong><br>
                  </td>
              </tr>



              <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Planned start date">
                        7 April 2021
                    </td>
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Midwife (degree) (level 6)
                  </td>
                  <td class="govuk-table__cell" data-label="ULN" style="text-align:right;">
                      1
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                      Southampton, Hampshire
                  </td>
                  <td class="govuk-table__cell" data-label="Apprenticeship training course">
                    <strong class="govuk-tag govuk-tag--red">Inactive</strong><br>

                  </td>
              </tr>
      </tbody>
  </table>

<nav role="navigation" aria-label="Pagination">
      <div class="das-pagination__summary">
          Showing 1 to 4 of 4
          requests
      </div><!--
  <ul class="das-pagination">
          <li class="das-pagination__item">
              <a class="das-pagination__link current" aria-current="aria-current" aria-label="Page 1" href="/10005760/apprentices?PageNumber=1">
                  1
              </a>
          </li>
          <li class="das-pagination__item">
              <a class="das-pagination__link " aria-label="Page 2" href="/10005760/apprentices?PageNumber=2">
                  2
              </a>
          </li>
          <li class="das-pagination__item">
              <a class="das-pagination__link " aria-label="Page 3" href="/10005760/apprentices?PageNumber=3">
                  3
              </a>
          </li>
          <li class="das-pagination__item">
              <a class="das-pagination__link " aria-label="Page 4" href="/10005760/apprentices?PageNumber=4">
                  4
              </a>
          </li>
          <li class="das-pagination__item">
              <a class="das-pagination__link " aria-label="Page 5" href="/10005760/apprentices?PageNumber=5">
                  5
              </a>
          </li>
          <li class="das-pagination__item">
              <a class="das-pagination__link " aria-label="Next page" href="/10005760/apprentices?PageNumber=2">
                  Next
              </a>
          </li>
  </ul>
</nav>

  </div>-->
</div>

{% endblock %}
