



{% extends "layout-as-pro.html" %}

{% set serviceName = "Apprenticeships" %}

{% block pageTitle %}

{% endblock %}

{% set _selectedDemand = myData.selectedDemand %}
{% set _selectedEmployers = myData.selectedEmployers or myData.defaultSelectedEmployers %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


        <h1 class="govuk-heading-xl">
            View your requests
        </h1>

<p>You can view contact details for the employer once requests are accepted. If an employer doesn’t accept your request, it will show as declined. Requests that are waiting for the employer to reply will show as pending.</p>
<br /></div>


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        All
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Pending
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Accepted
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Declined
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">All requests</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="20%">Date</th>
          <th scope="col" class="govuk-table__header" width="43%">Standard</th>
          <th scope="col" class="govuk-table__header">Apprentices</th>
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Relationship Manager (Banking) (level 6)</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">Newcastle</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Pending</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Police Community Support Officer (level 4)</td>
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell">Birmingham</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Pending</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">03 May 2021</td>
          <td class="govuk-table__cell">Gas Technician (level 4)</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Coventry</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Accepted</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">11 April 2021</td>
          <td class="govuk-table__cell">Non-destructive testing (NDT) operator (level 2)</td>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">BH12 1PL</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Accepted</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 May 2021</td>
          <td class="govuk-table__cell">Water Treatment Technician (level 3)</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Northampton</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Declined</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Gas Technician (level 4)</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">National</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Declined</a></td>
        </tr>
        </tr>
      </tbody>
    </table>

  </div>








  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Pending reply from Employer</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="20%">Date</th>
          <th scope="col" class="govuk-table__header" width="43%">Standard</th>
          <th scope="col" class="govuk-table__header">Apprentices</th>
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Relationship Manager (Banking) (level 6)</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">Newcastle</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Pending</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Police Community Support Officer (level 4)</td>
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell">Birmingham</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Pending</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Accepted by Employer</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="20%">Date</th>
          <th scope="col" class="govuk-table__header" width="43%">Standard</th>
          <th scope="col" class="govuk-table__header">Apprentices</th>
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Gas Technician (level 4)</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Coventry</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Non-destructive testing (NDT) operator (level 2)</td>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">BH12 1PL</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">View</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Declined by Employer</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="20%">Date</th>
          <th scope="col" class="govuk-table__header" width="43%">Standard</th>
          <th scope="col" class="govuk-table__header">Apprentices</th>
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 May 2021</td>
          <td class="govuk-table__cell">Water Treatment Technician (level 3)</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Northampton</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Declined</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" ">01 April 2021</td>
          <td class="govuk-table__cell">Gas Technician (level 4)</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">National</td>
          <td class="govuk-table__cell"><a href="dashboard/pending.html">Declined</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
