{% extends myData.layout %}
{% set serviceName = "Manage apprenticeships" %}
{% set serviceUrl = "provide-feedback-approvals-a" %}

{% block pageTitle %} 
Check your answers
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <a href="provide-feedback-1b" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:50%">
                Overall rating
              </dt>
              <dd class="govuk-summary-list__value" style="width:30%">
                {{myData.overallRatingAnswer}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="provide-feedback-approvals-a">
                  Change<span class="govuk-visually-hidden"> overall rating</span>
                </a>
              </dd>
            </div>
          </dl>
          <h2 class="govuk-heading-m">Areas of onboarding and approval</h2>
          <dl class="govuk-summary-list">
            {% for _factor in myData.provideFeedbackFactors2 %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:50%">
                    {{_factor.name}}
              </dt>
              <dd class="govuk-summary-list__value" style="width:30%;">

                {% for name, _answer in myData.factorsAnswers %}
                    {% if name == _factor.id %}
                        {{_answer}}
                    {% endif %}
                {% endfor %}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="provide-feedback-1b">
                  Change<span class="govuk-visually-hidden"> rating</span>
                </a>
              </dd>
            </div>
            {% endfor %}
            
          </dl>

        <a href="provide-feedback-5a" class="govuk-button">Accept and submit</a>


    </div>
</div>

{% endblock %}