{% extends myData.layout %}

{% set serviceName = "Find apprenticeship training for your apprentice" %}

{% set _selectedStandard = myData.selectedStandard %}
{% set _standardTitle = _selectedStandard.title + " (level&nbsp;" + _selectedStandard.level + ")" %}

{% block pageTitle %}
Tell us about your training needs
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<style>
    .govuk-input-background,
    .autocomplete__input {
        background-color: white;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            Tell us about your training needs
        </h1>

        <form method="post">
			<h3 class="govuk-heading-m">
				Apprenticeship training course
			</h3>
			<p class="govuk-!-margin-bottom-2">
				{{_standardTitle|safe}}
			</p>
			<p class="govuk-!-margin-bottom-6">
				<a href="#">Change</a>
			</p>
			
			<h3 class="govuk-heading-m">
				Training location
			</h3>
			<p class="govuk-!-margin-bottom-2">
				{{myData.location}}
			</p>
			<p class="govuk-!-margin-bottom-6">
				<a href="#">Change</a>
			</p>

			<hr class="govuk-section-break--visible govuk-section-break--xl govuk-section-break">

			<h2 class="govuk-heading-l">
				Apprentices
			</h2>

			{{ govukInput({
				label:
				{
					text: "How many apprentices will be doing this training?",
					classes: "govuk-label--m",
					isPageHeading: false
				},
				classes: "govuk-input--width-4",
				hint:
				{
					text: ""
				},
				id: "apprentices",
				name: "request[apprentices]",
				inputmode: "numeric",
				pattern: "[0-9]*",
				spellcheck: false
			}) }}

			{% set date %}
			<p>
				Enter the date you want the training to start by
			</p>
			<div id="before-month-date-hint" class="govuk-hint">
				For example, 03 2021
			</div>
			<div class="govuk-date-input" id="before-month-date">
				<div class="govuk-date-input__item">
					<div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="before-month-date-month">
							Month
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="before-month-date-month" name="request[before-month-date-month]" type="text" pattern="[0-9]*" inputmode="numeric">
					</div>
				</div>
				<div class="govuk-date-input__item">
					<div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="before-month-date-year">
							Year
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="before-month-date-year" name="request[before-month-date-year]" type="text" pattern="[0-9]*" inputmode="numeric">
					</div>
				</div>
			</div>
			{% endset %}

			{% set dateSpecific %}
			<p>
				Enter the month you want the training to start
			</p>
			<div id="specific-month-date-hint" class="govuk-hint">
				For example, 03 2021
			</div>
			<div class="govuk-date-input" id="specific-month-date">
				<div class="govuk-date-input__item">
					<div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="specific-month-date-month">
							Month
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="specific-month-date-month" name="request[specific-month-date-month]" type="text" pattern="[0-9]*" inputmode="numeric">
					</div>
				</div>
				<div class="govuk-date-input__item">
					<div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="specific-month-date-year">
							Year
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="specific-month-date-year" name="request[specific-month-date-year]" type="text" pattern="[0-9]*" inputmode="numeric">
					</div>
				</div>
			</div>
			{% endset %}

			{{ govukRadios({
				idPrefix: "start-date",
				name: "request[start-date-preference]",
				fieldset: 
				{
					legend: 
					{
						text: "When do you want the apprentices to start their training?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "before-month",
					text: "Before a certain date",
					conditional:
					{
						html: date
					}
				},
				{
					value: "specific-month",
					text: "In a specific month",
					conditional:
					{
						html: dateSpecific
					}
				},
				{
					value: "dont-know",
					text: "I'm flexible"
				}
				]
			}) }}

			{{ govukRadios({
				idPrefix: "recruitment-required",
				name: "request[recruitment-required]",
				fieldset: 
				{
					legend: 
					{
						text: "Do you need to recruit for this apprenticeship?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			<hr class="govuk-section-break--visible govuk-section-break--xl govuk-section-break">

			<h2 class="govuk-heading-l">
				About you
			</h2>

			{{ govukInput({
				label:
				{
					text: "What's the name of your organisation?",
					classes: "govuk-label--m",
					isPageHeading: false
				},
				id: "organisation-name",
				name: "request[organisation-name]"
			}) }}

			{% call govukFieldset({
				legend:
				{
					text: "Who should we contact about this?",
					classes: "govuk-fieldset__legend--m",
					isPageHeading: false
				}
			}) %}

			<p class="govuk-!-margin-bottom-6">
				We'll use these details to contact you if there are training providers interested in delivering this apprenticeship.
			</p>

			{{ govukInput({
				label:
				{
					text: "Full name"
				},
				hint:
				{
					text: ""
				},
				id: "contact-full-name",
				name: "request[contact-full-name]",
				autocomplete: "name",
				spellcheck: false
			}) }}

			{{ govukInput({
				label:
				{
					text: "Email address"
				},
				hint:
				{
					text: ""
				},
				id: "email",
				name: "request[email]"
			}) }}
			{% endcall %}

			<hr class="govuk-section-break--visible govuk-section-break--l govuk-section-break">

			<h2 class="govuk-heading-l govuk-!-margin-top-8">
				Submit your training request
			</h2>
			<p class="govuk-body">
				We'll share your interest in this training with relevant training providers to check if they can deliver the training.
			</p>
			<p>
				We will not share your contact details.
			</p>

			<input type="hidden" name="request[standard][name]" value="{{data['courseName']}}">

			<p>
				{{govukButton({
					text: "Submit"
				})}}
			</p>
		</form>

    </div>

    <div class="govuk-grid-column-one-third">
        &nbsp;
    </div>

</div>

{% endblock %}
