{% extends myData.layout %}
{% set serviceName = "" %}
{% set serviceUrl = "" %}

{% set _selectedStandard = myData.selectedStandard %}
{% set _standardTitle = _selectedStandard.title + " (level&nbsp;" + _selectedStandard.level + ")" %}

{% block pageTitle %} 
{% endblock %}

{% set _email = true %}
{% set _showAEDEmployerLinks = true %}
{% set _currentAEDEmployerLink = "aed-employer-email-match" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-6" style="border-bottom: 1px solid grey; padding-bottom:20px">
          <span class="govuk-!-font-weight-bold">From:</span> The Apprenticeship Service &lt;the.apprenticeship.service@notifications.service.gov.uk&gt;
          <br><span class="govuk-!-font-weight-bold">Sent:</span> Tue 08/12/2020 09:20
          <br><span class="govuk-!-font-weight-bold">To:</span> You
          <br><span class="govuk-!-font-weight-bold">Subject:</span> Looks like you’ve found a training provider
        </p>

        <img src="/public/images/esfa-logo.png" width="180px" style="margin-bottom:40px; display:block">

        <h1 class="govuk-heading-l">
          Looks like you’ve found a training provider
        </h1>
      
        <p class="govuk-body">
          We can see that you have connected with ABC Training Limited for {{data['request']['standard']['name']}} apprenticeship training.
        </p>
      
        <p class="govuk-body">
          We will remove your interest in this course so that we no longer continue to share your interest with other training providers.
        </p>
      
        <p class="govuk-body">
          If you would still like us to share your interest in {{data['request']['standard']['name']}} with other training providers, let us know within 7 days’ time.
        </p>
      
        <p class="govuk-body">
          <a href="home" class="govuk-button">Keep sharing my interest</a>
        </p>
      
        <h2 class="govuk-heading-l">
          Getting the best from your training
        </h2>
        <p class="govuk-body">
          Learn more about <a href="https://www.apprenticeships.gov.uk/employers/training-your-apprentice" class="govuk-link govuk-link--no-visited-state">employing an apprentice and what to expect from apprenticeship training</a>.
        </p>

        <p class="govuk-body">
          We wish you and your apprentice well with their apprenticeship training.
        </p>
      
        <p class="govuk-body">Kind regards</p>
        <p class="govuk-body">Apprenticeship service team</p>
        <p class="govuk-body">Education and Skills Funding Agency</p>
        <p class="govuk-body"><a href="https://www.apprenticeships.gov.uk/employers" class="govuk-link govuk-link--no-visited-state">www.apprenticeships.gov.uk/employers</a></p>
        <p class="govuk-body">This is an automated message. Please don’t reply to this email.</p>

       



        
        <!-- Registered account footer style -->
        
        <!-- <p class="govuk-body">From</p>
        <p class="govuk-body">Apprenticeship Service</p>
        <p class="govuk-body">If you want to stop these type of emails, you can change your notification settings (<a class="govuk-link govuk-link--no-visited-state" href="http://manage-apprenticeships.service.gov.uk/settings/notifications" target="_blank">http://manage-apprenticeships.service.gov.uk/settings/notifications</a>).</p> -->

        


    </div>
</div>

{% endblock %}
