{% extends myData.layout %}

{% set serviceName = "Survey testing" %}

{% block pageTitle %} 
Survey test 1
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Survey test 2 (EPAO)
        </h1>

        <p class="govuk-body"><a href="https://www.smartsurvey.co.uk/s/UOSZQ2FEPAO/" class="govuk-link govuk-link--no-visited-state">https://www.smartsurvey.co.uk/s/UOSZQ2FEPAO/</a></p>

    </div>
</div>

{% endblock %}