{% extends myData.layout %}
{% set serviceName = "Manage apprenticeships" %}
{% set serviceUrl = "provide-feedback-approvals-a" %}

{% block pageTitle %} 
Feedback complete
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% if myData.employeraccount == "true" %}
        <div class="govuk-!-margin-top-5"></div>
    {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Feedback complete
            </h1>
        </div>

        <p class="govuk-body">Thanks for your feedback. It'll help TRAINING UK LTD to continuously improve its apprenticeship training.</p>
        <p class="govuk-body">You rated TRAINING UK LTD as <span class="govuk-!-font-weight-bold">{{myData.overallRatingAnswer}}</span>. Your feedback will be published in the near future.</p>


    </div>
</div>

{% endblock %}