
{% extends "layout-as-pro.html" %}

{% set serviceName = "Apprenticeships" %}

{% block pageTitle %} 
Find employers who need a training provider
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <div class="govuk-grid-row">
		<div class="govuk-grid-column-three-quarters">
			<div class="govuk-breadcrumbs ">
				<ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="aed-provider-home">Home</a>
                    </li>
                </ol>
			</div>
        </div>
    </div>
{% endblock %}

{% set _standards = myData.standards.list %}

<!-- Location search -->
{% set _citiesAutocompleteList = myData.citiesAutocompleteList %}
{% set _defaultLocationSearchvalue = "" %}

<!-- Training search -->
{% set _standardAutocompleteList = myData.standardAutocompleteList %} 
{% set _defaultStandardSearchvalue = "" %}

<!-- Filters -->
{% set _filtersApplied = false %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            Find employers who need a training provider
        </h1>
        <p class="govuk-body">Employers are trying to find a training provider for the following apprenticeship training courses.</p>
        <p class="govuk-body govuk-!-margin-bottom-8">We can share your contact details with employers that you’re interested in.</p>
      
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <!-- FILTERS  -->
        <div class="fat-filter" >

            <div class="fat-filter__header">
                <div class="fat-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="fat-filter__header-action">
                </div>
            </div>
            <div class="fat-filter__content">

                <div class="fat-filter__options">

                    <form method="GET">

                        <button type="submit" class="fat-filter__submit govuk-button" id="filters-submit">Apply filters</button>

                        <!-- Location -->
                        <div class="govuk-form-group govuk-!-margin-bottom-3" >
                            <label for="search-location" class="govuk-label" >
                                <span class="govuk-!-font-weight-bold govuk-!-font-size-24">Location</span>
                                <span class="govuk-hint">Enter a town, city or postcode</span>
                            </label>
                            <input type="search" value="" id="search-location" name="location" class="govuk-input" >
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="radius">
                              Radius
                            </label>
                            <select class="govuk-select" id="radius" name="radius">
                              <option value="5">5 miles</option>
                              <option value="10" >10 miles</option>
                              <option value="25">25 miles</option>
                              <option value="50">50 miles</option>
                              <option value="80">80 miles</option>
                              <option value="england">England</option>
                            </select>
                          </div>

                        <!-- Course -->
                        <div class="govuk-form-group" >
                            <label for="search-training" class="govuk-label" >
                                <span class="govuk-!-font-weight-bold govuk-!-font-size-24">Apprenticeship training course</span>
                            </label>
                            <input type="search" value="" id="search-training" name="standard" class="govuk-input">
                        </div>

                        {% set _routes = myData.routes.list %}
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Apprenticeship category
                                </legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    {% for _route in _routes %}
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="route-{{_route.code}}" name="routefilters" type="checkbox" value="{{_route.code}}">
                                            <label class="govuk-label govuk-checkboxes__label" for="route-{{_route.code}}">
                                                {{_route.name}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>


                        <button type="submit" class="govuk-button fat-filter__submit" id="filters-submit-2">Apply filters</button>

                    </form>

                </div>

            </div>

        </div>

    </div>
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body govuk-!-margin-bottom-6">Sorted by:
            <span class="govuk-!-font-weight-bold">Course name</span>
        </p>

        {% set _count = 0 %}
        {% for _standard in _standards %}
            {% if _standard.demand == true %}
                {% set _count = _count + 1 %}
            {% endif %}
        {% endfor %}

        <h2 class="govuk-heading-m">{{_count}} results</h2>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
       
        <!-- 
            List
        -->
        
        <!-- Standards -->
        {% for _standard in _standards %}

            {% if _standard.demand == true %}
                {% set _standardTitle = _standard.title + " (level&nbsp;" + _standard.level + ")" %}
                <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-3">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-0" >
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            {{_standardTitle|safe}}
                        </h2>
                        <ul class="govuk-list">
                            <li class="govuk-!-font-size-16"><span class="govuk-secondary-colour">Apprenticeship category:</span> {{_standard.route}}</li>
                            <li class="govuk-!-font-size-16">
                                <span class="govuk-secondary-colour">Apprentices:</span> 
                                {{ [4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] | random }}
                            </li>
                            <li class="govuk-!-font-size-16">
                                <span class="govuk-secondary-colour">Employers:</span> 
                                {{ [1,2,3,4] | random }}
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-padding-0">
                        <p class="govuk-body opportunities-label" >
                            <a href="aed-provider-standard?standard={{_standard.larsCode}}" class="govuk-link govuk-link--no-visited-state">View employers</a>
                        </p>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--visible" style="clear:both">
                </div>
            {% endif %}

        {% endfor %}

    </div>
    
</div>

{% endblock %}

{% block pageScripts %}
<script>

    // shortlistingSticky(30)
    // shortlisting({{myData.clearLocalStorage}},{{myData.populateShortlist}})

    filterVisibilityToggle({{_filtersApplied | dump | safe }})

    // function fireApplyFilters(){setTimeout(function(){ $("#filters-submit").trigger("click") },200);}

    // Normal
    function suggestTraining(query, populateResults) {
        var results = {{_standardAutocompleteList | dump | safe }},
            filteredResults = results.filter(
            result => result.toUpperCase().indexOf(query.trim().toUpperCase()) !== -1
        )
        populateResults(filteredResults)
    }
    var trainingInput = document.querySelector('#search-training')
    if (trainingInput) {
        var trainingInputID = trainingInput.id,
            trainingElement = document.createElement('div'),
            defaultStandardSearchvalue = {{_defaultStandardSearchvalue | dump | safe }}
        trainingElement.className = "autocomplete__parent_wrapper";
        trainingInput.parentNode.insertBefore(trainingElement, trainingInput)
        accessibleAutocomplete({
            // other options
            element: trainingElement,
            id: trainingInputID,
            name: trainingInput.name,
            source: suggestTraining,
            defaultValue: defaultStandardSearchvalue,
            minLength: 2,
            confirmOnBlur: false,
            autoselect: true,
            // onConfirm: fireApplyFilters,
            displayMenu: 'overlay'
            // showAllValues: true
        })
        trainingInput.style.display = 'none'
        trainingInput.id = trainingInputID + '-old'
        trainingInput.name = ''
    }

    // Locations 
    function suggestLocations(query, populateResults) {
        var _allSuggestions = []

        // Cities
        var _citiesResults = {{_citiesAutocompleteList | dump | safe }},
            _filteredCitiesResults = _citiesResults.filter(
                result => result.toUpperCase().startsWith(query.trim().toUpperCase())
            )
        _filteredCitiesResults.sort(function(a,b){
            var returnValue = 0;
            if (a.toUpperCase() < b.toUpperCase()){
                returnValue = -1
            } else if(a.toUpperCase() > b.toUpperCase()){
                returnValue = 1
            }
            return returnValue
        });

        // Postcodes
        $.getJSON('https://api.postcodes.io/postcodes/' + query + '/autocomplete', function(body){
            var _postcodes = body.result || []
            _allSuggestions = _allSuggestions.concat(_filteredCitiesResults,_postcodes)
            populateResults(_allSuggestions)
        })
    }
    
    var locationInput = document.querySelector('#search-location')
    if (locationInput) {
        var locationInputID = locationInput.id,
            locationElement = document.createElement('div'),
            defaultLocationSearchvalue = {{_defaultLocationSearchvalue | dump | safe }}
        locationElement.className = "autocomplete__parent_wrapper";
        locationInput.parentNode.insertBefore(locationElement, locationInput)
        accessibleAutocomplete({
            // other options
            element: locationElement,
            id: locationInputID,
            name: locationInput.name,
            source: suggestLocations,
            defaultValue: defaultLocationSearchvalue,
            minLength: 1,
            confirmOnBlur: false,
            autoselect: true,
            // onConfirm: fireApplyFilters,
            displayMenu: 'overlay'
        })
        locationInput.style.display = 'none'
        locationInput.id = locationInputID + '-old'
        locationInput.name = ''
    }
</script>

{% endblock pageScripts %}