{% extends myData.layout %}

{% set serviceName = "Find apprenticeship training for your apprentice" %}

{% set _selectedStandard = myData.selectedStandard %}
{% set _standardTitle = _selectedStandard.title + " (level&nbsp;" + _selectedStandard.level + ")" %}

{% block pageTitle %} 
We’ve stopped sharing your interest in apprenticeship training with training providers
{% endblock %}

{% set _orgNameAnswer = myData.orgNameAnswer or "ABC LTD" %}
{% set _emailAnswer = myData.emailAnswer or "name@example.com" %}
{% set _locationAnswer = myData.location or "Coventry, Warwickshire" %}
{% set _apprenticesAnswer = myData.apprenticesAnswer or "yes" %}
{% set _apprenticesCountAnswer = myData.apprenticesCountAnswer or 1 %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
			We’ve stopped sharing your interest in apprenticeship training with training providers
		</h1>

		<p class="govuk-body">We’ve sent a confirmation email to {{_emailAnswer}}.</p>

		<!-- <p>{{_orgNameAnswer}},</p>

		<p class="govuk-body">
			Apprenticeship training course <br>
			<span class="govuk-!-font-weight-bold">{{_standardTitle|safe}}</span>
		</p>
	
		<p class="govuk-body">
			Apprenticeship location <br>
			<span class="govuk-!-font-weight-bold">{{_locationAnswer}}</span>
		</p> -->
	
		{% if _apprenticesAnswer == "yes" %}
		<!-- <p class="govuk-body">
			Number of apprentices <br>
			<span class="govuk-!-font-weight-bold">{{_apprenticesCountAnswer}}</span>
		</p> -->
		{% endif %}

		<p class="govuk-body">
			<a href="home" class="govuk-button">Find apprenticeship training</a> 
		</p>

		<p class="govuk-body"><a href="#" class="govuk-link">What did you think of this service?</a></p>

	</div>
	
	<div class="govuk-grid-column-one-third">
        &nbsp;
    </div>
</div>

{% endblock %}