{% extends myData.layout %}

{% set serviceName = "Find apprenticeship training" %}

{% block pageTitle %}
[to do]
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/breadcrumb.html" %}

    <p class="govuk-body" style="float:right;margin-top: -37px;"><a class="govuk-link govuk-link--no-visited-state" href="shortlist">View shortlisted training providers (<span class="shortlist-total">{{myData.totalFavourites}}</span>)</a></p>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            This training provider is currently unavailable for apprenticeship training
        </h1>
        
        <p class="govuk-body"><a class="govuk-button" href="training">View apprenticeship training courses</a></p>

    </div>

    <div class="govuk-grid-column-one-third">
        &nbsp;
    </div>

</div>

{% endblock %}

{% block pageScripts %}
<script>
    shortlisting({{myData.clearLocalStorage}},{{myData.populateShortlist}})
</script>
{% endblock %}