{% extends myData.layout %}

{% set serviceName = "Find apprenticeship training for your apprentice" %}
{% if myData.service == "epao" %}
    {% set serviceName = "Find an end-point assessment organisation" %}
{% endif %}

{% block pageTitle %} 
Cookies details
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Details about cookies
        </h1>

        <p class="govuk-body">This service puts small files (known as 'cookies') onto your computer.</p>

        <p class="govuk-body">These cookies are used to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>help us understand how you use the webservice, so we can make improvements </li>
            <li>remember what notifications you've seen so you're not shown them more than once</li>
            <li>temporarily store the selections you make</li>
        </ul>

        <p class="govuk-body">Find out more about <a href="https://ico.org.uk/your-data-matters/online/cookies/" class="govuk-link" target="_blank">how to manage cookies</a>.</p>

        <h2 class="govuk-heading-m">Cookies that measure website usage</h2>

        <p class="govuk-body">We use Google Analytics software (Universal Analytics) to collect anonymised information about how you use the service. We do this to help make sure the service is meeting the needs of its users and to help us make improvements.</p>

        <p class="govuk-body">We do not allow Google to use or share the data about how you use this service.</p>

        <p class="govuk-body">Google Analytics stores information about:</p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>how you got to the service</li>
            <li>the pages you visit on this service and how long you spend on them</li>
            <li>what you click on while you’re visiting the service</li>
        </ul>

        <p class="govuk-body">We may also set our own cookies to understand how people move through the service.</p>

        {% set websiteusage = [
            {
                "name": "_ga",
                "purpose": "Used by Google Analytics, this registers a unique ID to generate statistics about how you use the website",
                "expires": "1 year"
            },
            {
                "name": "_gat",
                "purpose": "Google Analytics throttling rate request",
                "expires": "1 year"
            },
            {
                "name": "_gid",
                "purpose": "Google Analytics cookie that registers a unique ID to generate statistics about how you use the website	",
                "expires": "1 year"
            }
        ] %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for _cookie in websiteusage %}
                <tr class="govuk-table__row">
                    {% for name, value in _cookie %}
                    <td class="govuk-table__cell">{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="govuk-heading-m">Cookies that help with our communications and marketing</h2>

        <p class="govuk-body">Some of our pages may contain content from other services, like YouTube, which may set their own cookies. These services are sometimes called ‘third party’ services. This tells us how many people are seeing the content and whether it’s useful.</p>


        <p class="govuk-body">We also share information about your use of our pages with our social media and advertising partners (for example, Facebook) to help us improve the relevancy of advertising campaigns you receive from us. </p>

        <p class="govuk-body">They may set cookies that you can turn off.</p>

        <p class="govuk-body">Find out more about <a href="cookies-settings" class="govuk-link govuk-link--no-visited-state" >how to turn off these cookies</a>.</p>

        <p class="govuk-body">In addition, if you share a link to one of our pages, the service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on other web services - you can turn them off, but not through us.</p>
        

        {% set communications = [
            {
                "name": "__zlcmid",
                "purpose": "ZenDesk chat user identifier",
                "expires": "1 year"
            }
        ] %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for _cookie in communications %}
                <tr class="govuk-table__row">
                    {% for name, value in _cookie %}
                    <td class="govuk-table__cell">{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
        
        <p class="govuk-body">These cookies carry out essential tasks to help the service perform correctly. For example, we might save a cookie to let us know how many times you’ve seen a message we’ve shown on a page, or if you’ve dismissed it.</p>

        {% set necessary = [
            {
                "name": "AnalyticsConsent",
                "purpose": "Status of consent for Analytics tracking",
                "expires": ""
            },
            {
                "name": "DASSeenCookieMessage",
                "purpose": "Stores if user has seen the cookie message",
                "expires": "Session"
            },
            {
                "name": "__RequestVerificationToken",
                "purpose": "This enables the website to function properly",
                "expires": "Session"
            },
            {
                "name": ".AspNet.Cookies",
                "purpose": "This enables the website to function properly",
                "expires": "Session"
            },
            {
                "name": "ai_session",
                "purpose": "This monitors the performance of the website",
                "expires": "Session"
            },
            {
                "name": "ai_user",
                "purpose": "This monitors the performance of the website",
                "expires": "Session"
            },
            {
                "name": "SFA.DAS.FindApprenticeship<br>Training.SearchLocation",
                "purpose": "Used to store the location you enter when you search for a course or provider",
                "expires": "2 days"
            }
        ] %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for _cookie in necessary %}
                <tr class="govuk-table__row">
                    {% for name, value in _cookie %}
                    <td class="govuk-table__cell">{{value|safe}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="govuk-heading-m">Change your settings</h2>


        <p class="govuk-body">You can <a href="cookies-settings" class="govuk-link govuk-link--no-visited-state" >change which cookies you're happy for us to use</a>.</p>

    </div>
</div>

{% endblock %}