{% extends myData.layout %}
{% if myData.service == "epao" %}
    {% set serviceName = "Register of end-point assessment organisations" %}
    {% set serviceUrl = "epaos-all" %}
{% else %}
    {% set serviceName = "Find apprenticeship training" %}
{% endif %}

{% set _selectedEPAO = myData.selectedEPAO %}
{% set _epaoTitle = _selectedEPAO.name %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% if myData.service == "epao" %}
        <a href="epaos-all" class="govuk-back-link">Back</a>
    {% else %}
        {% include "includes/breadcrumb.html" %}
    {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- {% for name, item in _selectedEPAO %}
        <p class="govuk-body" ><span class="govuk-!-font-weight-bold">{{ name }}</span>: {{ item | dump }}</p>
        {% endfor %} -->

        <span class="govuk-caption-xl">End-point assessment organisation (EPAO)</span>
        <h1 class="govuk-heading-xl" >
            {{_epaoTitle | safe}} 
        </h1>

        <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-2">EPAO ID</h2>
        <p class="govuk-body">{{_selectedEPAO.epaoID}}</p> -->
        <!-- <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">ID:</span> {{_selectedEPAO.epaoID}}</p> -->


        <dl class="govuk-summary-list govuk-!-margin-bottom-7">
            {% if _selectedEPAO.contactname %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contact name</dt>
                <dd class="govuk-summary-list__value">{{_selectedEPAO.contactname}}</dd>
            </div>
            {% endif %}
            {% if _selectedEPAO.email %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value"><a class="govuk-link govuk-link--no-visited-state" href="#">{{_selectedEPAO.email}}</a></dd>
            </div>
            {% endif %}
            {% if _selectedEPAO.phone %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Telephone</dt>
                <dd class="govuk-summary-list__value">{{_selectedEPAO.phone}}</dd>
            </div>
            {% endif %}
            {% if _selectedEPAO.website %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Website</dt>
                <dd class="govuk-summary-list__value"><a target="_blank" class="govuk-link govuk-link--no-visited-state" href="#">{{_selectedEPAO.website}}</a></dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">
                    {% if _selectedEPAO.address1 %}{{_selectedEPAO.address1}}{% endif %}
                    {% if _selectedEPAO.address2 %}<br>{{_selectedEPAO.address2}}{% endif %}
                    {% if _selectedEPAO.address3 %}<br>{{_selectedEPAO.address3}}{% endif %}
                    {% if _selectedEPAO.address4 %}<br>{{_selectedEPAO.address4}}{% endif %}
                    {% if _selectedEPAO.postcode %}<br>{{_selectedEPAO.postcode}}{% endif %}
                </dd>
            </div>
        
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EPAO ID</dt>
                <dd class="govuk-summary-list__value">{{_selectedEPAO.epaoID}}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type</dt>
                <dd class="govuk-summary-list__value">{{_selectedEPAO.type}}</dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m ">Delivery areas</h2>
        
        <!-- Regions labels -->
        <p class="govuk-body">
        {% for _epaoRegion in _selectedEPAO.regions %}
            {% set _loopLast = loop.last %}
            {% set _moreThanOne = _selectedEPAO.regions.length > 1 %}
            {% for _region in myData.regions %}
                {% if _epaoRegion == _region.id %}
                {% if _moreThanOne and _loopLast %} and {% endif %}{{_region.label}}{% if _moreThanOne and _loopLast == false %}, {% endif %}{% if _loopLast %}.{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>

        <h2 class="govuk-heading-m ">Apprenticeship courses assessed by this EPAO ({{myData.displaycount}})</h2>

        <!-- <table class="govuk-table">
            <tbody class="govuk-table__body">
                {% for _standard in myData.standards.list %}
                    {% if _standard.matchesEPAO %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{_standard.title}} (level&nbsp;{{_standard.level}})
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table> -->

        {% if myData.displaycount == 1 %}
        <p class="govuk-body">
            {% for _standard in myData.standards.list %}
                {% if _standard.matchesEPAO %}
                    {{_standard.title}} (level&nbsp;{{_standard.level}})
                {% endif %}
            {% endfor %}
        </p>
        {% else %}
        <ul class="govuk-list govuk-list--bullet">
            {% for _standard in myData.standards.list %}
                {% if _standard.matchesEPAO %}
                    <li>
                        {{_standard.title}} (level&nbsp;{{_standard.level}})
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </div>
    <div class="govuk-grid-column-one-third">
       &nbsp;
    </div>
</div>

{% endblock %}