{% extends "layout.html" %} 
{% set serviceName = "Find apprenticeship training" %}

<!-- autocompletes -->
{% set _standardAutocompleteList = myData.standardAutocompleteList %} 
{% set _standards = myData.standards.list %} 
{% set _defaultSearchvalue = "" %}
{% set _providerAutocompleteList = myData.providerAutocompleteList %} 
{% set _providers = myData.providers.list %}
{% set _defaultProviderSearchvalue = "" %}

<!-- phase banner + breadcrumbs -->
{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<style>
    /* @media (min-width: 641px) {
        .routeslist {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    } */
    #search-providers {
        height: 50px;
        border-right: 0;
    }
    .autocomplete__hint {
        height: 50px;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">{{serviceName}}</h1>

        <h2 class="govuk-heading-m">Find an apprenticeship training course</h2>
        
        <!-- <h2 class="govuk-heading-l">Find an apprenticeship training course</h2> -->

        <form action="training" method="GET">
            <!-- Search -->
            <div class="search-wrapper govuk-form-group search-wrapper-das">
                <!-- <legend style="display:none">[Search for apprenticeship training]</legend> -->
                <label for="search-training" class="govuk-label">
                    <span class="govuk-hint">Search for a course</span>
                </label>
                <div class="search-input-wrapper">
                    <input type="search" value="" id="search-training" name="q" title="Search" class="govuk-input">
                    <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit" id="search-training-submit">Search apprenticeship training courses</button>
                    </div>
                </div>
                <!-- Reset values -->
                <input type="hidden" value="relevance" name="sortby">
            </div>
        </form>

    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

        <!-- <h2 class="govuk-heading-s">Browse by sector</h2>

        <ul class="govuk-list routeslist">
            {% for _route in myData.routes.list %}
            <li><a href="training?r=true&route={{_route.code}}" class="govuk-link govuk-link--no-visited-state" >{{_route.name}}</a></li>
            {% endfor %}
        </ul> -->

        <h2 class="govuk-heading-s"><a href="training" class="govuk-link govuk-link--no-visited-state">Browse all apprenticeship training courses</a></h2>
        <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">509</h1> -->

    </div>

</div>

<!-- PROVIDERS -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h2 class="govuk-heading-m">Find a training provider</h2>

        <!-- Search box -->
        <form action="providers" method="GET" >
            <div class="search-wrapper govuk-form-group search-wrapper-das" >
                <legend style="display:none">[Search for a training provider]</legend>
                <label for="search-providers" class="govuk-label" >
                    <span class="govuk-hint">[name search label]</span>
                </label>
                <div class="search-input-wrapper">
                    <input type="search" value="" id="search-providers" name="q" title="Search" class="govuk-input">
                    <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit" id="search-providers-submit">Search for a training provider</button>
                    </div>
                </div>
            </div>
        </form>

        <h2 class="govuk-heading-s"><a href="providers" class="govuk-link govuk-link--no-visited-state">Browse all training providers</a></h2>
        <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">1500</h1> -->

    </div>
</div>

<!-- EPAOs -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h2 class="govuk-heading-m">Find an end-point assessment organisation</h2>

        <!-- Search box -->
        <form action="epaos" method="GET" >
            <div class="search-wrapper govuk-form-group search-wrapper-das" >
                <legend style="display:none">[Search for an end-point assessment organisation]</legend>
                <label for="search-providers" class="govuk-label" >
                    <span class="govuk-hint">[name search label]</span>
                </label>
                <div class="search-input-wrapper">
                    <input type="search" value="" id="search-providers" name="q" title="Search" class="govuk-input">
                    <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit" id="search-providers-submit">Search for an end-point assessment organisation</button>
                    </div>
                </div>
            </div>
        </form>

        <h2 class="govuk-heading-s"><a href="epaos" class="govuk-link govuk-link--no-visited-state">Browse all end-point assessment organisations</a></h2>
        <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">1500</h1> -->

    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
    //AUTOCOMPLETE PROVIDERS
    function suggestProviders(query, populateResults) {
        var results = {{_providerAutocompleteList | dump | safe }},
            providers = {{_providers | dump | safe }},
            filteredResults = []
        providers.forEach(function(_provider, index) {
            var _searchesToDo = [
                    {"searchOn": _provider.autoCompleteString,"within": true,"exact": true}
                ],
                _providerMatched = false
            for (var i = 0; i < _searchesToDo.length; i++) {
                var _thisItem = _searchesToDo[i]
                if(Array.isArray(_thisItem.searchOn)){
                    _thisItem.searchOn.forEach(function(_arrayPart, index) {
                        doSearches(_arrayPart)
                    });
                } else {
                    doSearches(_thisItem.searchOn)
                }
                function doSearches(_itemToSearch){
                    //Exact check
                    if(_thisItem.exact & _itemToSearch.toUpperCase() == query.trim().toUpperCase()){
                        _providerMatched = true
                    }
                    // Within check
                    if(_thisItem.within & _itemToSearch.toUpperCase().indexOf(query.trim().toUpperCase()) != -1){
                        _providerMatched = true
                    }
                }
            }
            (_providerMatched) && (filteredResults.push(_provider.autoCompleteString))
        })
        populateResults(filteredResults)
    }
    // Normal
    // function suggestTraining(query, populateResults) {
    //     var results = {{_standardAutocompleteList | dump | safe }},
    //         filteredResults = results.filter(
    //         result => result.toUpperCase().indexOf(query.trim().toUpperCase()) !== -1
    //     )
    //     populateResults(filteredResults)
    // }
    // Trigger search click on enter
    function fireProvidersSearch(){setTimeout(function(){ $("#search-providers-submit").trigger("click") },200);}
    var providerInput = document.querySelector('#search-providers')
    if (providerInput) {
        var providerInputID = providerInput.id,
            providerElement = document.createElement('div'),
            defaultSearchvalue = {{_defaultSearchvalue | dump | safe }}
        providerElement.className = "autocomplete__parent_wrapper";
        providerInput.parentNode.insertBefore(providerElement, providerInput)
        accessibleAutocomplete({
            // other options
            element: providerElement,
            id: providerInputID,
            name: providerInput.name,
            source: suggestProviders,
            defaultValue: defaultSearchvalue,
            minLength: 3,
            confirmOnBlur: false,
            autoselect: true,
            onConfirm: fireProvidersSearch,
            displayMenu: 'overlay'
        })
        providerInput.style.display = 'none'
        providerInput.id = providerInputID + '-old'
        providerInput.name = ''
    }
</script>
{% endblock pageScripts %}