{% extends "layout.html" %} 
{% set serviceName = "Find apprenticeship training" %}

<!-- autocompletes -->
{% set _standardAutocompleteList = myData.standardAutocompleteList %} 
{% set _standards = myData.standards.list %} 
{% set _defaultSearchvalue = "" %}
{% set _providerAutocompleteList = myData.providerAutocompleteList %} 
{% set _providers = myData.providers.list %}
{% set _defaultProviderSearchvalue = "" %}

<!-- phase banner + breadcrumbs -->
{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block content %}

<style>
    /* @media (min-width: 641px) {
        .routeslist {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    } */
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">{{serviceName}}</h1>

        <h2 class="govuk-heading-m">Find an apprenticeship training course</h2>
        
        <!-- <h2 class="govuk-heading-l">Find an apprenticeship training course</h2> -->

        <form action="training" method="GET">
            <!-- Search -->
            <div class="search-wrapper govuk-form-group search-wrapper-das">
                <!-- <legend style="display:none">[Search for apprenticeship training]</legend> -->
                <label for="search-training" class="govuk-label">
                    <span class="govuk-hint">Enter course name, job role or keyword</span>
                </label>
                <div class="search-input-wrapper">
                    <input type="search" value="" id="search-training" name="q" title="Search" class="govuk-input">
                    <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit" id="search-training-submit">Search apprenticeship training courses</button>
                    </div>
                </div>
                <!-- Reset values -->
                <input type="hidden" value="relevance" name="sortby">
                <!-- <input type="hidden" value="r" name="true"> -->
                <input type="hidden" value="all" name="route">
            </div>
        </form>

    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

        <!-- <h2 class="govuk-heading-s">Browse by sector</h2>

        <ul class="govuk-list routeslist">
            {% for _route in myData.routes.list %}
            <li><a href="training?r=true&route={{_route.code}}" class="govuk-link govuk-link--no-visited-state" >{{_route.name}}</a></li>
            {% endfor %}
        </ul> -->

        <h2 class="govuk-heading-s"><a href="training" class="govuk-link govuk-link--no-visited-state">Browse all apprenticeship training courses</a></h2>
        <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">509</h1> -->

    </div>

</div>

<!-- PROVIDERS -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h2 class="govuk-heading-m">Find a training provider</h2>

        <!-- Search box -->
        <form action="providers" method="GET" >
            <div class="search-wrapper govuk-form-group search-wrapper-das" >
                <legend style="display:none">[Search for a training provider]</legend>
                <label for="search-providers" class="govuk-label" >
                    <span class="govuk-hint">[name search label]</span>
                </label>
                <div class="search-input-wrapper">
                    <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-providers" name="q" title="Search" class="govuk-input">
                    <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit" id="search-providers-submit">Search for a training provider</button>
                    </div>
                </div>
            </div>
        </form>

        <h2 class="govuk-heading-s"><a href="providers" class="govuk-link govuk-link--no-visited-state">Browse all training providers</a></h2>
        <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">1500</h1> -->

    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
   
</script>
{% endblock pageScripts %}