{% extends "layout.html" %}
{% set serviceName = "Find apprenticeship training" %}

<!-- Display count -->
{% set _displayCount = myData.displaycount %}

<!-- Selected route -->
{% set _selectedRoute = {} %}
{% for _route in myData.routes.list %}
    {% if myData.route == _route.code %}
        {% set _selectedRoute = _route %}
    {% endif %}
{% endfor %}

<!-- Query strings (for use in hrefs) -->
{% set _searchQuery = "" %}
{% set _routefilterQuery = "" %}
{% set _levelfilterQuery = "" %}
{% set _sortQuery = "" %}
{% if myData.searchapplied == true %}
    {% set _searchQuery = "&q=" + myData.searchTerm %}
{% endif %}
{% if myData.routefilterapplied == true %}
    {% set _routefilterQuery = "&route=" + myData.route %}
{% endif %}
{% if myData.levelfilterapplied == true %}
    {% set _levelfilterQuery = "&level=" + myData.level %}
{% endif %}
{% if myData.sortapplied == true %}
    {% set _sortQuery = "&sort=" + myData.sortby %}
{% endif %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% set _breadcrumbText = "Home: Find apprenticeship training" %}
    {% include "includes/breadcrumb.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if myData.routefilterapplied == true %}
        <h1 class="govuk-heading-xl">
            <!-- <span class="govuk-caption-xl">Apprenticeship training courses in</span> -->
            {{_selectedRoute.name}} 
        </h1>
        {% else %}
        <h1 class="govuk-heading-xl" >
            Apprenticeship training courses
        </h1>
        {% endif %}

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <!-- Route list -->
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Browse by sector</h2>
        {% if myData.routefilterapplied == true %}
        <p class="govuk-body govuk-!-font-weight govuk-!-margin-bottom-2">{{_selectedRoute.name}}</p>
        <p class="govuk-body "><a href="training?{{_sortQuery}}{{_searchQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state ">Clear sector</a></p>
        {% else %}
        <ul class="govuk-list govuk-!-font-size-16">
            {% for _route in myData.routes.list %}
            <li class="">
                <a href="training?route={{_route.code}}{{_sortQuery}}{{_searchQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state">{{_route.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Level list -->
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Browse by level</h2>
        {% if myData.levelfilterapplied == true %}
        <p class="govuk-body govuk-!-font-weight govuk-!-margin-bottom-2">Level {{myData.level}}</p>
        <p class="govuk-body"><a href="training?{{_sortQuery}}{{_searchQuery}}{{_routefilterQuery}}" class="govuk-link govuk-link--no-visited-state ">Clear level</a></p>
        {% else %}
        <ul class="govuk-list govuk-!-font-size-16">
            {% for _level in myData.levels %}
            <li class="">
                <a href="training?level={{_level}}{{_sortQuery}}{{_searchQuery}}{{_routefilterQuery}}" class="govuk-link govuk-link--no-visited-state">Level {{_level}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
    <div class="govuk-grid-column-two-thirds">

        <!-- Search box -->
        <form action="training" method="GET" >
            <div class="inner-form">
                <div class="search-wrapper govuk-form-group" data-list-search-filter >
                    <legend style="display:none">[Search for apprenticeship training]</legend>
                    <label for="search-training" class="govuk-label" >
                        <span class="">Search for an apprenticeship training course</span>
                    </label>
                    <div class="search-input-wrapper">
                        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-training" name="q" title="Search" class="govuk-input search-input search-input-with-button" >
                        <div class="search-input-submit-wrapper">
                            <button type="submit" class="search-submit" id="search-training-submit">Search apprenticeship training courses</button>
                        </div>
                    </div>
                </div>
                <!-- Reset/keep values -->
                <input type="hidden" value="{{myData.route}}" name="route" >
            </fieldset>
        </form>

        <!-- <p class="govuk-body">Match both routes = {{myData.matchesfilterscount}}</p> -->

        <!--NON-JS VERSION-->
        {% if myData.searchapplied == true %}
        <p data-clear-filter-non-js class="govuk-body"><a href="training?{{_sortQuery}}{{_routefilterQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state">Clear search</a></p>
        {% endif %}
        <!--JS VERSION-->
        <p class="hidden" hidden class="govuk-body" data-clear-filter><a href="#" class="govuk-link govuk-link--no-visited-state">Clear search</a></p>

        <!-- Results count -->
        <div class="govuk-form-group" >
            <p class="govuk-body" data-results-count>{{_displayCount}} result{% if _displayCount != 1 %}s{% endif %}</p>
        </div>

        <!-- Sort -->
        {% if myData.searchapplied == true and _displayCount > 1 %}
        <p class="govuk-body govuk-!-margin-bottom-6">Sort by:
            {% if myData.sortby == "name" %}
            <a class="govuk-link govuk-link--no-visited-state" href="training?{{_levelfilterQuery}}{{_routefilterQuery}}{{_searchQuery}}&sort=relevance">Relevance</a>, 
            <span class="govuk-!-font-weight-bold">Name</span>
            {% else %}
            <span class="govuk-!-font-weight-bold">Relevance</span>, 
            <a class="govuk-link govuk-link--no-visited-state" href="training?{{_levelfilterQuery}}{{_routefilterQuery}}{{_searchQuery}}&sort=name">Name</a>
            {% endif %}
        </p>
        {% endif %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
       

        <!-- 
            Standards list
        -->
        <div data-list>
            {% for _standard in myData.standards.list %}
                {% if _standard.search == true %}
                    {% set _standardData = [{"searchOn": _standard.autoCompleteString,"within": true,"exact": true},{"searchOn": _standard.jobRoles,"within": true,"exact": true}] %}
                    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-list-item data-search-data="{{_standardData|dump}}">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            <a href="standard?standard={{_standard.larsCode}}" class="govuk-link govuk-link--no-visited-state">{{_standard.title}} (level&nbsp;{{_standard.level}})</a>
                        </h2>
                        <ul class="govuk-list">
                            {% if _standard.integratedDegree == "non-degree qualification" %}
                            <li><span class="govuk-!-font-weight-bold">Non-degree qualification</span></li>
                            {% elif _standard.integratedDegree == "integrated degree" %}
                            <li><span class="govuk-!-font-weight-bold">Integrated degree</span></li>
                            {% elif _standard.integratedDegree == "non-integrated degree" %}
                            <li><span class="govuk-!-font-weight-bold">Non-integrated degree</span></li>
                            {% endif %}
                            <li><span class="govuk-secondary-colour">Typical duration:</span> {{_standard.typicalDuration}} months</li>
                            <li class=""><span class="govuk-secondary-colour">Sector:</span> {{_standard.route}}</li>
                            <li><span class="govuk-secondary-colour">Training providers:</span> {{_standard.providers.number}}</li>
                        </ul>
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2">
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    </div>
    
</div>

{% endblock %}


{% block pageScripts %}
<script>
    $(document).ready(function() {
        asYouTypeFilter(
            {{myData.matchesfilterscount}},
            "result",
            "results",
            {{myData.clearLocalStorage}},
            {{myData.searchapplied}},
            {{myData.searchTerm|dump|safe}}
        )
    });
</script>
{% endblock pageScripts %}