{% extends "layout.html" %}
{% set serviceName = "Find apprenticeship training" %}


<!-- Display count -->
{% set _displayCount = myData.displaycount %}


<!-- Count for as you type -->
{% set _asYouTypeCount = myData.matchesfilterscount %}
{% if myData.searchapplied %}
    {% set _asYouTypeCount = _displayCount %}
{% endif %}


<!-- Selected route -->
{% set _selectedRoute = {} %}
{% for _route in myData.routes.list %}
    {% if myData.route == _route.code %}
        {% set _selectedRoute = _route %}
    {% endif %}
{% endfor %}

{% set _filterOrSearchApplied = (myData.levelfilterapplied == true or myData.routefilterapplied or myData.searchapplied) %}

<!-- Query strings (for use in hrefs) -->
{% set _searchQuery = "" %}
{% set _routefilterQuery = "" %}
{% set _levelfilterQuery = "" %}
{% set _sortQuery = "" %}
{% if myData.searchapplied == true %}
    {% set _searchQuery = "&q=" + myData.searchTerm %}
{% endif %}
{% if myData.routefilterapplied == true %}
    {% set _routefilterQuery = "&route=" + myData.route %}
{% endif %}
{% if myData.levelfilterapplied == true %}
    {% set _levelfilterQuery = "&level=" + myData.level %}
{% endif %}
{% if myData.sortapplied == true %}
    {% set _sortQuery = "&sort=" + myData.sortby %}
{% endif %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% set _breadcrumbText = "Home: " + serviceName %}
    {% include "includes/breadcrumb.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl {% if _filterOrSearchApplied %} govuk-!-margin-bottom-4 {% endif %}">
            {% if _filterOrSearchApplied %}
            <strong>{{_displayCount}} result{% if _displayCount != 1 %}s{% endif %}</strong> for {% for _term in myData.searchfilters %}{% if loop.first == false and loop.last == false and loop.length > 1 %}, {% endif %}{% if loop.last and loop.length > 1 %} and {% endif %}{{_term.value|safe}}{% endfor %}
            {% else %}
            Apprenticeship training courses
            {% endif %}
        </h1>

        {% if _filterOrSearchApplied %}
        <p class="govuk-body-l govuk-!-margin-bottom-8 "><a href="training?{{_sortQuery}}" class="govuk-link govuk-link--no-visited-state ">Clear filters</a></p>{% endif %}

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Sector</h2>
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                {% if myData.routefilterapplied == false %}
                All sectors
                {% else %}
                <a href="training?{{_sortQuery}}{{_searchQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state">All sectors</a>
                {% endif %}
            </li>
            {% for _route in myData.routes.list %}
            <li>
                {% if myData.routefilterapplied == true and _route.code == myData.route %}
                {{_route.name}}
                {% else %}
                <a href="training?route={{_route.code}}{{_sortQuery}}{{_searchQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state">{{_route.name}}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Level</h2>
        <ul class="govuk-list govuk-!-font-size-16">
           <li>
            {% if myData.levelfilterapplied == false %}
            All levels
            {% else %}
            <a href="training?{{_sortQuery}}{{_searchQuery}}{{_routefilterQuery}}" class="govuk-link govuk-link--no-visited-state">All levels</a>
            {% endif %}
            </li>
            {% for _level in myData.levels %}
            <li>
                {% if _level == myData.level %}
                Level {{_level}}
                {% else %}
                <a href="training?level={{_level}}{{_sortQuery}}{{_searchQuery}}{{_routefilterQuery}}" class="govuk-link govuk-link--no-visited-state">Level {{_level}}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">

        <!-- Search box -->
        <form action="training" method="GET" >
            <div class="inner-form">
                <div class="search-wrapper search-wrapper-das search-wrapper-das-small govuk-form-group " data-list-search-filter >
                    <legend style="display:none">[Search for apprenticeship training]</legend>
                    <label for="search-training" class="govuk-label" >
                        <span class="govuk-!-font-weight-bold">Keywords</span>
                    </label>
                    <div class="search-input-wrapper">
                        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-training" name="q" title="Search" class="govuk-input search-input search-input-with-button" >
                        <div class="search-input-submit-wrapper">
                            <button type="submit" class="search-submit" id="search-training-submit">Search apprenticeship training courses</button>
                        </div>
                    </div>
                </div>
                <!-- Reset/keep values -->
                <input type="hidden" value="{{myData.route}}" name="route" >
                <input type="hidden" value="{{myData.level}}" name="level" >
            </div>
        </form>

        

        <!-- <p class="govuk-body">Match both routes = {{myData.matchesfilterscount}}</p> -->

        <!--NON-JS VERSION-->
        {% if myData.searchapplied == true %}
        <!-- <p data-clear-filter-non-js class="govuk-body"><a href="training?{{_sortQuery}}{{_routefilterQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state">Clear search</a></p> -->
        {% endif %}
        <!--JS VERSION-->
        <!-- <p class="hidden" hidden class="govuk-body" data-clear-filter><a href="#" class="govuk-link govuk-link--no-visited-state">Clear search</a></p> -->

        <!-- Sort -->
        {% if myData.searchapplied == true and _displayCount > 1 %}
        <!-- <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4"> -->
        <p class="govuk-body govuk-!-margin-bottom-">Sort by:
            {% if myData.sortby == "name" %}
            <a class="govuk-link govuk-link--no-visited-state" href="training?{{_levelfilterQuery}}{{_routefilterQuery}}{{_searchQuery}}&sort=relevance">Relevance</a>, 
            <span class="govuk-!-font-weight-bold">Name</span>
            {% else %}
            <span class="govuk-!-font-weight-bold">Relevance</span>, 
            <a class="govuk-link govuk-link--no-visited-state" href="training?{{_levelfilterQuery}}{{_routefilterQuery}}{{_searchQuery}}&sort=name">Name</a>
            {% endif %}
        </p>
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-6">
       

        <!-- 
            Standards list OR No results
        -->
        {% if _displayCount > 0 %}

        <div data-list>
            {% for _standard in myData.standards.list %}
                {% if _standard.search == true %}
                    {% set _standardData = [{"searchOn": _standard.autoCompleteString,"within": true,"exact": true},{"searchOn": _standard.jobRoles,"within": true,"exact": true}] %}
                    <div class=" govuk-!-margin-bottom-3" data-list-item data-search-data="{{_standardData|dump}}" style="">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            <a href="standard?standard={{_standard.larsCode}}" class="govuk-link govuk-link--no-visited-state">{{_standard.title}} (level&nbsp;{{_standard.level}})</a>
                        </h2>
                        <ul class="govuk-list">
                            {% if _standard.integratedDegree == "non-degree qualification" %}
                            <li><span class="govuk-!-font-weight-bold">Non-degree qualification</span></li>
                            {% elif _standard.integratedDegree == "integrated degree" %}
                            <li><span class="govuk-!-font-weight-bold">Integrated degree</span></li>
                            {% elif _standard.integratedDegree == "non-integrated degree" %}
                            <li><span class="govuk-!-font-weight-bold">Non-integrated degree</span></li>
                            {% endif %}
                            <li><span class="govuk-secondary-colour">Typical duration:</span> {{_standard.typicalDuration}} months</li>
                            <li class=""><span class="govuk-secondary-colour">Sector:</span> {{_standard.route}}</li>
                            <li><span class="govuk-secondary-colour">Training providers:</span> {{_standard.providers.number}}</li>
                        </ul>
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
       
        {% else %}

        <h2 class="govuk-heading-m govuk-!-margin-top-4">0 results</h2>
        <p class="govuk-body">You could:</p>
        <ul class="govuk-list govuk-list--bullet">

            {% if myData.searchapplied == true %}
            <li>Change or <a href="training?{{_sortQuery}}{{_routefilterQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state ">clear the keyword search</a> (‘{{myData.searchTerm}}’)</li>
            {% endif %}

            {% if myData.levelfilterapplied == true %}
            <li><a href="training?{{_sortQuery}}{{_searchQuery}}{{_routefilterQuery}}" class="govuk-link govuk-link--no-visited-state">Clear the level filter</a> (level {{myData.level}})</li>
            {% endif %}

            {% if myData.routefilterapplied == true %}
            <li><a href="training?{{_sortQuery}}{{_searchQuery}}{{_levelfilterQuery}}" class="govuk-link govuk-link--no-visited-state">Clear the sector filter</a> ({{_selectedRoute.name}})</li>
            {% endif %}

        </ul>

        {% endif %}


    </div>
    
</div>

{% endblock %}


{% block pageScripts %}
<script>
    // $(document).ready(function() {
    //     asYouTypeFilter(
    //         {{_asYouTypeCount}},
    //         "result",
    //         "results",
    //         {{myData.clearLocalStorage}},
    //         {{myData.searchapplied}},
    //         {{myData.searchTerm|dump|safe}}
    //     )
    // });
</script>
{% endblock pageScripts %}