
{% extends "layout.html" %}

{% block pageTitle %}
Find apprenticeship training prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Find apprenticeship training prototype
    </h1>

    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/2-0/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 2</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: #d53880;">
              In progress
            </strong>
            <br><br>
            [tested on xxx]
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>???</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/1-0/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 1</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              Ready for UR
            </strong>
            <br><br>
            [tested on xxx]
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Home - page CREATED</li>
              <li>Training results - page CREATED</li>
              <li>Training - page CREATED</li>
              <li>Providers for a standard - page CREATED</li>
              <li>Provider - page CREATED</li>
            </ul>
          </td>
        </tr>
    </tbody>
  </table>

    
  </div>
</div>

{% endblock %}
