
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Find apprenticeship training prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Find apprenticeship training prototype
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <p class="govuk-body govuk-!-margin-bottom-2">User research: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1737195821/Usability+findings" target="_blank" class="govuk-link govuk-link--no-visited-state">View the usability findings on confluence</a></p>
      <p class="govuk-body govuk-!-margin-bottom-2">Copydecks: <a href="https://drive.google.com/drive/folders/1qMIcSZGGRHMyJEs-sUKJYfXAZ_-bP0pi" target="_blank" class="govuk-link govuk-link--no-visited-state">View the copydecks in google drive</a></p>
      <p class="govuk-body govuk-!-margin-bottom-9">Flow diagrams: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1883472005/Prototype+flow+diagrams" target="_blank" class="govuk-link govuk-link--no-visited-state">View the flow diagrams on confluence</a></p>

      

    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/18-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 18</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: purple;">
              IN PROGRESS
            </strong>
            <br>
            <!-- tested -->
            
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>FAT - course keywords label - UPDATED</li>
              <li>FAT - providers ordered by relevance label - ADDED</li>
              <li>FAT - home content - UPDATED</li>
              <li>FAT - shortlist content - UPDATED</li>
              <li>FAT - content updates (course list, provider list, provider, course closed) - UPDATED</li>
              <li>FAT & EPAO - cookies details page content - UPDATED</li>
              <li>FAT & EPAO - cookies settings page content - UPDATED</li>
              <li>FAT & EPAO - accessibility page content - UPDATED</li>
              <li>EPAO - home page content - UPDATED</li>
              <li>FAT (UR setting) - toggle for KSBs display - ADDED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/17-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 17</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: green;">
              READY FOR UR
            </strong>
            <br>
            <!-- tested -->
            
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>FAT - provider overview - availability scenarios - UPDATED</li>
              <li>FAT - provider overview - overview heading - ADDED</li>
              <li>EPAO - readiness date - ADDED</li>
              <li>EPAO - other courses assessed - ADDED</li>
              <li>FAT & EPAO - privacy page - ADDED</li>
              <li>Provide feedback - approvals end - UPDATED</li>
              <li>Provide feedback - onboarding questions - UPDATED</li>
              <li>Provide feedback - existing emails - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/16-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 16</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            13 - 18 November 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>FAT - 0 providers for course - UPDATED</li>
              <li>FAT - 0 providers for course at a location - UPDATED</li>
              <li>FAT - 0 courses for filters - UPDATED</li>
              <li>FAT - shortlist session message - ADDED</li>
              <li>Cookies details - UPDATED</li>
              <li>404 page - ADDED</li>
              <li>500 page - ADDED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/15-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 15</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            15 - 22 October 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>FAT Providers - ordering - UPDATED</li>
              <li>FAT Employer reviews - UPDATED</li>
              <li>FAT Sector heading - UPDATED</li>
              <li>FAT Location labels - UPDATED</li>
              <li>FAT No providers at all - UPDATED</li>
              <li>FAT Courses - filters order - UPDATED</li>
              <li>FAT service name - UPDATED</li>
              <li>FAT homepage content - UPDATED</li>
              <li>FAT course page content - UPDATED</li>
              <li>FAT provider page content - UPDATED</li>
              <li>FAT unique page titles - UPDATED</li>
              <li>Accessibility statement - ADDED</li>
              <li>Privacy statement - ADDED</li>
              <li>Cookies settings and details - ADDED</li>
              <li>EPAO unique page titles - UPDATED</li>
              <li>EPAO - location entry - REMOVED</li>
              <li>EPAO - integrated page - UPDATED</li>
              <li>EPAO - enter course page - UPDATED</li>
              <li>BUG - National filter - FIXED</li>
              <li>BUG - regions in place list removed - FIXED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/14-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 14</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            28 - 30 September 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>FAT/EPAO - 'Telephone' - UPDATED</li>
              <li>Training options - display of distance away - UPDATED</li>
              <li>Training options/ofsted/pass rate - order - UPDATED</li>
              <li>Shortlist - UPDATED</li>
              <li>Provide feedback - question order - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/13-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 13</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag"  >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            13 - 18 September 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Provide feedback - check answers - ADDED</li>
              <li>Provide feedback - onboarding questions - UPDATED</li>
              <li>Provide feedback - 'we publish'/anonymous content - ADDED</li>
              <li>Provide feedback - overall rating - REMOVED</li>
              <li>Providers - 'Also trades as' - UPDATED</li>
              <li>EPAO - location input - ADDED</li>
              <li>EPAO - 'end-point' name - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/12-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 12</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            1 - 4 September 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>View shortlist - sticky bar - ADDED</li>
              <li>View shortlist - style - UPDATED</li>
              <li>Back to top - ADDED</li>
              <li>Head office - ADDED</li>
              <li>Back links - ADDED</li>
              <li>National/training options - UPDATED</li>
              <li>Apply filters button at bottom - ADDED</li>
              <li>Enter location prompt positioned below sort options - UPDATED</li>
              <li>EPAO location data improved - UPDATED</li>
              <li>EPAO - All England changed to National coverage - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/11-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 11</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag">
              TESTED
            </strong>
            <br>
            <!-- tested -->
            17 - 21 August 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>EPAO - integrated course page - ADDED</li>
              <li>EPAO - region selector page - REMOVED</li>
              <li>EPAO - locations covered content - ADDED</li>
              <li>Providers - Nearest that don't deliver - REMOVED</li>
              <li>Provide feedback - existing survey in service - ADDED</li>
              <li>Provide feedback - onboarding survey in service - ADDED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/10-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 10</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            10 - 14 August 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Providers - 'no data' acheivement rates examples - ADDED</li>
              <li>Providers - acheivement rate content - UPDATED</li>
              <li>Providers - 0 employer reviews - ADDED</li>
              <li>Providers - employer reviews content - UPDATED</li>
              <li>Course - closed to new starts page - ADDED</li>
              <li>Provider - no longer available page - ADDED</li>
              <li>Shortlist - JavaScript version added - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/9-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 9</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            13 - 17 July 2020
          </td>
          
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Providers - shortlist - ADDED</li>
              <li>Providers - distances and addresses - UPDATED</li>
              <li>Providers - ordered by distance - UPDATED</li>
              <li>Providers - trading names - ADDED</li>
              <li>Courses - levels language - UPDATED</li>
              <li>Courses - typical job titles language - UPDATED</li>

              {% set _titles = "<titles>" %}
              <li>Misc - page {{_titles}} - ADDED</li>

            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/8-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 8</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            <!-- tested -->
            22 - 23 June 2020
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Providers - Delivery area (national) filter moved <br>and at provider level - UPDATED</li>
              <li>Providers - Nearest that don't deliver - UPDATED</li>
              <li>Provider - no new starts banner removed - UPDATED</li>
              <li>Provider - other providers available content - UPDATED</li>
              <li>Provider - training options - UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/7-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 7</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag">
              TESTED
            </strong>
            <br>
            <!-- tested -->
            9 - 10 June 2020 
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Setting added to view dev phases - ADDED</li>
              <li>Setting added to hide EPAO within FAT - ADDED</li>
              <li>Sector filter changed to checkboxes - UPDATED</li>
              <li>Level filter changed to checkboxes - UPDATED</li>
              <li>Footer content - UPDATED</li>
              <li>EPAO journey (register) - UPDATED</li>
              <li>Provider page - not taking on new starts banner ADDED</li>
              <li>Course page - closing date banner ADDED</li>
              <li>Course page - 0 EPAOs content (within FAT) UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/6-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 6</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" style="background: darkgrey">
              NOT TESTED
            </strong>
            <br>
            <!-- tested -->
            changes tested in <br>version 7 onwards
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Regulated - content ADDED</li>
              <li>Ofsted/Employer reviews - styling UPDATED</li>
              <li>Home (where to start and H1) - UPDATED</li>
              <li>Course page (integrated content) - UPDATED</li>
              <li>Course page (provider/epao counts variants) - UPDATED</li>
              <li>Course page (enter location) - UPDATED</li>
              <li>Providers list (other locations) - content ADDED</li>
              <li>Providers list (national filter) - ADDED</li>
              <li>Providers list (0 results) - closest matches ADDED</li>
              <li>Providers' page (other locations) - content ADDED</li>
              <li>Providers' page - content UPDATED</li>
              <li>EPAO page - content UPDATED</li>
              <li>EPAO register page - content UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/5-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 5</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              TESTED
            </strong>
            <br>
            29 April - 6 May 2020
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Employer reviews - content ADDED</li>
              <li>Ofsted ratings - style UPDATED</li>
              <li>Provider (filter options) - UPDATED</li>
              <li>Provider (training options) - UPDATED</li>
              <li>Provider (acheivement rate) - ADDED</li>
              <li>Course page (next steps) - UPDATED</li>
              <li>Course page (max funding) - UPDATED</li>
              <li>"End-point assessment organisation" - name UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/4-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 4</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              Tested
            </strong>
            <br>
            22 - 23 April 2020
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Training - skills content UPDATED</li>
              <li>Filters - mobile view and pattern UPDATED</li>
              <li>EPAOs for a standard - location filter ADDED</li>
              <li>EPAOs - location filter ADDED</li>
              <li>Home - page UPDATED</li>
              <li>Provider - page UPDATED</li>
              <li>Course - page UPDATED</li>
              <li>Location - prompts ADDED, and entered location remembered</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/3-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 3</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              Tested
            </strong>
            <br>
            6 - 7 April 2020
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Providers for a standard - location filter ADDED</li>
              <li>Providers - location filter ADDED</li>
              <li>Search results pages - headings UPDATED</li>
              <li>Training results - levels equivalence UPDATED</li>
              <li>Training results - list items UPDATED</li>
              <li>Training - link to ifate UPDATED</li>
              <li>EPAO language - name UPDATED</li>
              <li>Home - page UPDATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/2-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 2</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              Tested
            </strong>
            <br>
            19 - 24 March 2020
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Filter/search - pattern UPDATED</li>
              <li>Home - page UPDATED</li>
              <li>Providers (all) - page CREATED</li>
              <li>EPAOs (all) - page CREATED</li>
              <li>EPAO - page CREATED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/1-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">Version 1</a>
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag" >
              Tested
            </strong>
            <br>
            9 - 10 March 2020
          </td>
          <td class="govuk-table__cell" >
            <ul class="govuk-list govuk-list--bullet">
              <li>Home - page CREATED</li>
              <li>Training results - page CREATED</li>
              <li>Training - page CREATED</li>
              <li>Providers for a standard - page CREATED</li>
              <li>Provider - page CREATED</li>
            </ul>
          </td>
        </tr>
    </tbody>
  </table>

    
  </div>
</div>

{% endblock %}
