{% extends "layout.html" %}

{% block beforeContent %}
    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
    items: [
        {
            text: "Home: find apprenticeship training"
        }
    ]
    }) }}
{% endblock %}

{% block content %}

<style>
    @media (min-width: 641px) {
        .routeslist {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >Find apprenticeship training</h1>

        <form action="training?r=true" method="GET" >
            <!-- Search -->
            <div class="search-wrapper govuk-form-group" >
                <legend style="display:none">[Search for apprenticeship training]</legend>
                <label for="search-training" class="govuk-label" >
                    <span class="govuk-hint">Start typing the apprenticeship name or job role</span>
                </label>
                <div class="search-input-wrapper">
                    <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-training" name="q" title="Search" class="govuk-input">
                    <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit">Search training</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">You can also search by apprenticeship category</h2>

        <ul class="govuk-list routeslist">
            {% for _route in myData.routes.list %}
            <li><a href="training?r=true&route={{_route.code}}" class="govuk-link govuk-link--no-visited-state">{{_route.name}}</a></li>
            {% endfor %}
        </ul>
        <!-- <p class="govuk-body"><a href="training?route=all" class="govuk-link govuk-link--no-visited-state">Browse all</a></p> -->

    </div>

    <div class="govuk-grid-column-one-third" >
        &nbsp;
    </div>
</div>

{% endblock %}