{% extends "layout.html" %}

{% set _selectedStandard = {} %}
{% for _standard in myData.standards.list %}
    {% if myData.standard == _standard.larsCode %}
        {% set _selectedStandard = _standard %}
    {% endif %}
{% endfor %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            {{_selectedStandard.title}}
        </h1>

        <!-- <p class="govuk-body" >{{_selectedStandard|dump|safe}}</p> -->

        {% for name, item in _selectedStandard %}
        <p class="govuk-body" ><span class="govuk-!-font-weight-bold">{{ name }}</span>: {{ item }}</p>
        {% endfor %}

    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
</div>

{% endblock %}