{% extends "layout.html" %}

{% set _selectedStandard = {} %}
{% for _standard in myData.standards.list %}
    {% if myData.standard == _standard.larsCode %}
        {% set _selectedStandard = _standard %}
    {% endif %}
{% endfor %}

{% block beforeContent %}

{% include "includes/alpha-banner.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
items: [
    {
        text: "Home: Find an apprenticeship training course",
        href: "home"
    },
    {
        text: "Apprenticeship training courses",
        href: myData.referrerpage
    },
    {
        text: _selectedStandard.title
    }
]
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            {{_selectedStandard.title}} (level {{_selectedStandard.level}})
        </h1>

        {% if _selectedStandard.integratedDegree == "non-degree qualification" %}
        <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Non-degree qualification</span></p>
        {% elif _selectedStandard.integratedDegree == "integrated degree" %}
        <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Integrated degree</span></p>
        {% elif _selectedStandard.integratedDegree == "non-integrated degree" %}
        <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Non-integrated degree</span></p>
        {% endif %}

        

        <table class="govuk-table">
            <!-- <caption class="govuk-table__caption"></caption> -->
            <!-- <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                </tr>
            </thead> -->
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Level</th>
                    <td class="govuk-table__cell">{{_selectedStandard.level}}</td>
                </tr>
                <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Typical length</th>
                <td class="govuk-table__cell">{{_selectedStandard.typicalDuration}} months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sector</th>
                    <td class="govuk-table__cell">{{_selectedStandard.route}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Max funding</th>
                    <td class="govuk-table__cell">£{{_selectedStandard.maxFundingFormatted}}</td>
                </tr>
            </tbody>
        </table>

        {% if _selectedStandard.jobRoles | length > 0 %}
        <!-- <p class="govuk-body govuk-secondary-colour"><span class="govuk-secondary-colour"></span>
            {% for _jobRole in _selectedStandard.jobRoles %}
                {{_jobRole}}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </p> -->
        {% endif %}

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
        text: "Find a training provider"
        }) }}

    </div>
    <div class="govuk-grid-column-one-third">
       
    </div>
</div>

{% endblock %}