{% extends "layout.html" %}

{% set _selectedStandard = {} %}
{% for _standard in myData.standards.list %}
    {% if myData.standard == _standard.larsCode %}
        {% set _selectedStandard = _standard %}
    {% endif %}
{% endfor %}

{% set _standardTitle = _selectedStandard.title + " (level " + _selectedStandard.level + ")" %}

{% block beforeContent %}

{% include "includes/alpha-banner.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
items: [
    {
        text: "Home: Find an apprenticeship training course",
        href: "home"
    },
    {
        text: "Apprenticeship training courses",
        href: myData.referrerpage
    },
    {
        text: _standardTitle
    }
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            {{_standardTitle}}
        </h1>

        {% if _selectedStandard.integratedDegree == "non-degree qualification" %}
        <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Non-degree qualification</span></p>
        {% elif _selectedStandard.integratedDegree == "integrated degree" %}
        <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Integrated degree</span></p>
        {% elif _selectedStandard.integratedDegree == "non-integrated degree" %}
        <p class="govuk-body-l"><span class="govuk-!-font-weight-bold">Non-integrated degree</span></p>
        {% endif %}

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Level</dt>
                <dd class="govuk-summary-list__value">{{_selectedStandard.level}}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Typical duration</dt>
                <dd class="govuk-summary-list__value">{{_selectedStandard.typicalDuration}} months</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sector</dt>
                <dd class="govuk-summary-list__value">{{_selectedStandard.route}}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Maximum funding</dt>
                <dd class="govuk-summary-list__value">£{{_selectedStandard.maxFundingFormatted}}.00</dd>
            </div>
        </dl>

        {% if _selectedStandard.jobRoles | length > 0 %}
        <!-- <p class="govuk-body govuk-secondary-colour"><span class="govuk-secondary-colour"></span>
            {% for _jobRole in _selectedStandard.jobRoles %}
                {{_jobRole}}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </p> -->
        {% endif %}

        <!-- {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
        text: "Find a training provider"
        }) }} -->

        <br>

        <h2 class="govuk-heading-l" >
            Training providers
        </h2>

        <!-- <p class="govuk-body govuk-!-font-size-36">{{_selectedStandard.providers}}</p>

        <p class="govuk-body"><a href="providers" class="govuk-link govuk-link--no-visited-state">View providers</a></p> -->

        <!-- <h2 class="govuk-heading-l" >
            {{_selectedStandard.providers}} training providers
        </h2>

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
            text: "View training providers"
        }) }} -->

        <!-- <table class="govuk-table">
            <tbody class="govuk-table__body">
            {% for _provider in myData.providers.list %}
            {% if loop.index < _selectedStandard.providers %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{_provider.name}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table> -->

    </div>
    <div class="govuk-grid-column-one-third">
       &nbsp;
    </div>
</div>

<div class="govuk-grid-row das-flex">
    <div class="govuk-grid-column-one-third das-highlight-box govuk-!-margin-bottom-4">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{_selectedStandard.providers}}</h1>
        <p class="govuk-body govuk-!-margin-bottom-0">Delivering</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body"><a href="providers" class="govuk-link govuk-link--no-visited-state">View training providers</a></p>
    </div>
</div>

{% endblock %}