{% extends "layout.html" %}

{% set _selectedRoute = {} %}
{% for _route in myData.routes.list %}
    {% if myData.route == _route.code %}
        {% set _selectedRoute = _route %}
    {% endif %}
{% endfor %}

{% block beforeContent %}
    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
    items: [
        {
            text: "Home: find apprenticeship training",
            href: "home"
        },
        {
            text: "Apprenticeships"
        }
    ]
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" >
            {% if _selectedRoute.name %}
                {{_selectedRoute.name}}
            {% else %}
                Apprenticeships
            {% endif %}
        </h1>

        
            <h2 class="govuk-heading-m" >
                {% if _selectedRoute.name %}
                    {{_selectedRoute.standardsCount}} apprenticeships
                {% else %}
                    {{myData.standards.list | length}} apprenticeships
                {% endif %}
            </h2>
        

        <table class="govuk-table">
            <thead class="govuk-table__head" >
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for _standard in myData.standards.list %}
                {% if _selectedRoute.name == undefined or _standard.route == _selectedRoute.name %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="standard?standard={{_standard.larsCode}}" class="govuk-link govuk-link--no-visited-state">{{_standard.title}} - level {{_standard.level}}</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>

    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">[Explore by apprenticeship category]</h2>

        <ul class="govuk-list">
            {% for _route in myData.routes.list %}
            <li><a href="training?route={{_route.code}}" class="govuk-link govuk-link--no-visited-state">{{_route.name}}</a></li>
            {% endfor %}
        </ul>
        <p class="govuk-body"><a href="training?route=all" class="govuk-link govuk-link--no-visited-state">Browse all</a></p>

    </div>
</div>

{% endblock %}