

{% extends myData.layout %}

{% set serviceName = "Find apprenticeship training for your apprentice" %}
{% if myData.service == "epao" %}
    {% set serviceName = "Find an end-point assessment organisation for your apprentice" %}
{% endif %}

{% block pageTitle %}
Page not found
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Training provider request
		</h1>

		<h2 class="govuk-heading-m">Apprenticeship training details</h2>
		<dl class="govuk-summary-list">

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key" style="width:50%">
				Apprenticeship training course
			</dt>
			<dd class="govuk-summary-list__value" style="width:30%;">
			  Water Treatment Technician (level 3)
			</dd>
			<dd class="govuk-summary-list__actions">

			</dd>
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key" style="width:50%">
				Where is the apprenticeship location?
			</dt>
			<dd class="govuk-summary-list__value" style="width:30%;">
        Northampton
			</dd>
			<dd class="govuk-summary-list__actions">
			  <a class="govuk-link govuk-link--no-visited-state" href="aed-employer-form">
				<span class="govuk-visually-hidden"> apprenticeship location</span>
			  </a>
			</dd>
		  </div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key" style="width:50%">
					Do you know how many apprentices will take this apprenticeship training?
				</dt>
				<dd class="govuk-summary-list__value" style="width:30%;">
				3
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="aed-employer-form">
					<span class="govuk-visually-hidden"> [to do]</span>
					</a>
				</dd>
			</div>

			{% if _apprenticesAnswer == "yes" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key" style="width:50%">
					Number of apprentices
				</dt>
				<dd class="govuk-summary-list__value" style="width:30%;">
					{{_apprenticesCountAnswer}}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="aed-employer-form">
					<span class="govuk-visually-hidden"> [to do]</span>
					</a>
				</dd>
			</div>
			{% endif %}

		</dl>

		<h2
</div>
{% endblock %}
